.sticky-row{
    position: sticky;
    left: 0px;
    height: 35px;
    padding: 5px;
    top: 60px;
    background: #e2eaea !important;
    width: 100%;
    z-index: 9;
    margin-bottom: 10px;
}
.margin-right{
    margin-right: 5px;
}

.margin-top{
    margin-top: 10px;
}