<div class="content-wrapper">
  <div class ="right-btn">
      <button type="button" class="btn add-btn" (click)="addNewWarehouse()"> New Warehouse</button>
  </div>

  <div class="full-width">
    <div class="ng-tableinner">
      <ba-card  title="Warehouse" baCardClass="with-scroll">
        <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEditClick($event)" (view)="onViewClick($event)" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
      </ba-card>
    </div>
  </div>  
</div>
