<!-- Modal content -->
<div style="height: 500px;;">
    <div class="modal-content modal-content-main-area" style="width: 50% !important">
        <div class="modal-header" style="padding: 0px;background: #ecad79;">
            <button class="close" aria-label="Close" (click)="closeReportBox()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" style="text-align: center;">
                Item Batch Register Report Filter
            </h4>
        </div>
        <div class="modal-body">
            <div class="clearfix">
                <div class="col-md-12">
                    <div class="col-md-12 form-group">

                        <div class="report-filter">
                            <label>Date Selection</label>
                            <form [formGroup]="reportFilterService.calendarForm">
                                <input type="text" ngxDaterangepickerMd formControlName="selectedDate"
                                    class="form-control" placeholder="Choose date" [showDropdowns]="true"
                                    showCancel="true" [ranges]="masterService.dateFilterRange"
                                    [alwaysShowCalendars]="true" />
                            </form>
                        </div>
                        <!-- <div>
                            <label for="mcode">Enter Item Code</label>
                            <input type="text" name="mcode" id="mcode" class="form-control"
                                [(ngModel)]="reportFilterService.repObj.reportparam.mcode">
                        </div> -->

                        <!-- <div class="form-group cell-with-comment row" *ngIf="snapshotMode ==  'edit'">
                            <label class="col-sm-2 form-control-label">Sap Code :
                            </label>
                            <div class="col-sm-6">
                                <label class="col-sm-2 form-control-label"> <span
                                        style="font-size: large; font-weight: 500; color: rgb(255, 13, 13);">{{MCODE}}</span>
                                </label>
                            </div>
                        </div> -->
                        <br />
                        <div class="form-group cell-with-comment row" *ngIf="snapshotMode !==  'edit'">
                            <label class="col-sm-12 form-control-label">Item
                                <!--<span class="mandatory">*</span> -->
                            </label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control"
                                    [(ngModel)]="this.reportFilterService.repObj.reportparam.MCODE"
                                    placeholder="enter item" id="Item" name="Item" (keydown.enter)="onSapcodeClicked()"
                                    required />
                            </div>
                            <br /><br />
                            <span class="cell-comment">
                                Press Enter to Select Item
                            </span>
                        </div>
                        <div class="report-filter">
                            <fieldset>
                                <Legend style="font-size: 12px;
                                        margin: 0;
                                        width: 33%;
                                        font-weight: bold;">Report Mode</Legend>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="repmode" id="detail" [value]="0"
                                            (change)="handleChange($event)" [(ngModel)]="mode">
                                        Item Wise
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="repmode" id="summary" [value]="1"
                                            (change)="handleChange($event)" [(ngModel)]="mode">
                                        Batch Wise
                                    </label>
                                </div>
                            </fieldset>
                        </div>

                        <div *ngIf="batchSelected==true" class="form-group cell-with-comment row">
                            <label class="col-sm-12 form-control-label">Enter Batch

                            </label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control"
                                    [(ngModel)]="this.reportFilterService.repObj.reportparam.batch"
                                    placeholder="enter Batch" id="Batch" name="Batch" (keydown.enter)="onItemClicked()"
                                    required />
                            </div>
                            <br /><br />
                            <span class="cell-comment">
                                Press Enter to Select Batch
                            </span>
                        </div>






                        <!-- <div class="report-filter">
                            <dynamicreportparam [config]="reportFilterService.repObj.columnSetting" #form="dynamicForm">
                            </dynamicreportparam>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>


        <hr style="margin-bottom: 0px !important">
        <div class="clearfix" style="padding: 10px;">

            <button class="btn btn-info pull-right" style="margin-left: 10px;" (click)=onload()>RUN</button>
            <button class="btn btn-info pull-right" (click)="closeReportBox()">Close</button>
        </div>
    </div>
</div>
<generic-popup-grid #genericGrid [popupsettings]="gridPopupSettings" (onItemDoubleClick)="dblClickPopupItem($event)">
</generic-popup-grid>
<generic-popup-grid #batchfilterGrid [popupsettings]="gridPopupSettingsForbatchfilterGrid"
    (onItemDoubleClick)="dblClickbatchItemFromFilter($event)">
</generic-popup-grid>