<style>
  label {
    width: 150px;
    font-size: 15px;
    color: #403c3c;
  }

  input {
    height: 30px;
  }
</style>

<div class="sticky-top">
  <div class="row clearfix" style=" padding: 0px 20px;">
    <div class="col-md-6">
      <h3 class="page-title">{{ Title }}</h3>
    </div>
    <div class="col-md-6" style="float: right;"></div>
    <button
      type="button "
      class="btn btn-info pull-right"
      (click)="cancel()"
      style="margin-right : 10px;"
    >
      Back
    </button>
    <button
      type="button"
      (click)="SumbitSave()"
      title="onSave"
      class="btn btn-info pull-right"
      style="margin-right : 10px;"
    >
      Save
    </button>
    <button
      type="button"
      (click)="SumbitSave()"
      title="onSave"
      class="btn btn-info pull-right"
      [disabled]="!this.parentGroup"
      *ngIf="grp == 'G'"
      style="margin-right : 10px;"
    >
      Save
    </button>
  </div>
</div>
<div class="main-container" style="padding-top : 10px; margin-bottom: 0px">
  <div class="row">
    <div class="col-md-12">
      <div class="tabbable" id="warehouse-tabs">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#general-info" data-toggle="tab"
              >General Info</a
            >
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" href="#tab2" data-toggle="tab">Section 2</a>
            </li> -->
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="general-info">
            <form [formGroup]="form">
              <div class="form-group row">
                <div class="col-sm-12">
                  <div class="col-md-8">
                    <div class="form-group row">
                      <label class="col-sm-3 form-control-label"
                        >Choose Group:</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          [formControl]="PARENTNAME"
                          (keydown.tab)="onAcGroupPopupTab()"
                          (keydown.enter)="onAcGroupPopupTab()"
                          placeholder="Press ENTER or TAB to Choose Group"
                        /> 
                      </div>
                    </div>
                    <!-- <div class="form-group row">
                      <label class="col-sm-3 form-control-label">ACCode</label>
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="ACCODE"
                          placeholder="CODE"
                        />
                      </div>
                    </div> -->
                    <div class="form-group row">
                      <label class="col-sm-3 form-control-label">Name</label>
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="ACNAME"
                          placeholder="Name"
                        />
                      </div>
                    </div>
                    <ng-container *ngIf="isGroup == 1">
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label"
                          >Has Sub Ledger</label
                        >
                        <div class="col-sm-9">
                          <select
                            class="form-control"
                            formControlName="HASSUBLEDGER"
                            style="height:30px;padding-bottom: 0px;"
                          >
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                          </select>
                        </div>
                      </div> 
                      
                    </ng-container>
                    <div *ngIf="showAssets==1" class="form-group row">
                        <label class="col-sm-3 form-control-label"
                          >Assets Type</label
                        >
                        <div class="col-sm-9">
                          <select
                            class="form-control"
                            formControlName="MAPID"
                            style="height:30px;padding-bottom: 0px;"
                          >
                            <option value="C">Cash</option>
                            <option value="B">Bank</option>
                            <option value="O">Others</option>
                          </select>
                        </div>
                      </div> 
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label"
                          >Status:</label
                        >
                        <div class="col-sm-9">
                          <select
                            class="form-control"
                            formControlName="ISACTIVE"
                            style="height:30px;padding-bottom: 0px;"
                          >
                            <option value=1>Active</option>
                            <option value=0>Inactive</option>
                          </select>
                        </div>
                      </div>
                  </div>
                  <div
                    class="col-md-4 well well-sm"
                    *ngIf="AccCurrentSelectedGroup"
                  >
                    <h3>Selected Group Detail</h3> 
                    <table   class="table">
                      <tbody>
                        <tr> 
                          <td>AC NAME</td>
                          <td>{{ AccCurrentSelectedGroup.ACNAME }}</td>
                        </tr>
                        <tr> 
                            <td>ACID</td>
                            <td>{{ AccCurrentSelectedGroup.ACID }}</td>
                        </tr>
                        <tr> 
                            <td>AC TYPE</td>
                            <td>{{ AccCurrentSelectedGroup.ACTYPE}}</td>
                        </tr> 
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- <div class="tab-pane" id="tab2">
              <p>
                Howdy, I'm in Section 2.
              </p>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<account-group-popup-grid
  #acPopupGrid
  (onItemDoubleClick)="onItemDoubleClick($event)"
></account-group-popup-grid>
