<div class="row  mb-4" style="position: relative;margin-top: 10px;">
    <div *ngIf="ItemgrpMode==null" class="col-md-3 ml-auto text-right">
        <button type="button" class="btn-con btn-bg-warning" (click)="AddNewItemGroup()">
            <i class="fa fa-plus mr-2 text-white"></i>Add New
        </button>
    </div>
</div>
<div class="row  mb-4" style="position: relative;margin-top: 10px;">
    <div class="col-md-12">
        <table border="1" *ngIf="ItemgrpMode==null">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Category Name</th>
                    <th>Item Group Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let col of lstItemGroupMaster">
                    <td>
                        <a  (click)="LoadItemGroupById(col.ItemGroupId)"><i class="fa fa-eye"></i></a>
                    </td>
                    <td>{{col.CategoryName}}</td>
                    <td>{{col.ItemGroupName}}</td>
                    <td>{{col.Status===1?'Active':'Inactive'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-5" style="position: relative;margin-top: 10px;" *ngIf="ItemgrpMode!=null">
    <div class="col-md-12">
        <form #myForm="ngForm">
            <div class="row">
                <div class="col-md-2">Item Category</div>
                <div class="col-md-4">
                    <select required class="form-control" [(ngModel)]="ItemGroupMaster.CategoryName" name="ddlItemCategory">
                        <option *ngFor="let col of lstCategoryList" value="{{col.NAME}}">{{col.NAME}}</option>
                    </select>
                </div>
                <div class="col-md-2">
                    Item Group Name
                </div>
                <div class="col-md-4">
                    <input type="text"  [(ngModel)]="ItemGroupMaster.ItemGroupName" required class="form-control" name="txtItemGrpName">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Status
                </div>
                <div class="col-md-4">
                    <select name="ddlStatus" [(ngModel)]="ItemGroupMaster.Status" required  class="form-control">
                        <option selected="selected" [ngValue]=1>Active</option>
                        <option [ngValue]=0>Inactive</option>
                    </select>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row justify-content-center">
                <button type="button" [disabled]="!myForm.form.valid" type="button"
                    class="btn-con btn btn-success mr-3" (click)="SaveItemGroup()">Save</button>
                    <button class="btn-con closeButtonCon" (click)="CloseModal()">Close</button>
            </div>
        </form>
    </div>
</div>
