<ba-card>
    <div class="row">
        <div class="col-md-12 plainBackGround">
                <table>
                    <tr>
                        <td style="width: 85px;">
                            Registration Form:
                        </td>
                        <td colspan="2" style="width: 40%;">
                            <input type="text" style="width: 90%; margin-bottom: 5px;">
                        </td>
                        <td>
                            <label style="width:30%; margin-left:40px">Brand :</label>
                        </td>
                        <td colspan="2" style="width: 253px;">
                            
                            <select style="width:90%;">
                                <option>Toyota</option>
                                <option>Suzuki</option>
                                <option>Volkswagen</option>
                                <option>Nissan</option>
                                <option>Honda</option>
                                <option>Tata Motors</option>
                                <option>Fiat</option>
                                <option>Ford</option>
                                <option>Audi</option>
                                <option>Land Rover</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Engine No:
                        </td>
                        <td colspan="2" style="width: 253px;">
                            <input type="text" style="width: 90%; margin-bottom: 5px;">
                        </td>
                        <td style="padding-left: 40px;">
                            Model
                        </td>
                        <td>
                            <input type="text" style="width:90%;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Chasis No:
                        </td>
                        <td colspan="2" style="width: 253px;">
                            <input type="text" style="width: 90%; margin-bottom: 5px;">
                        </td>
                        <!-- <td colspan="2" rowspan="2" style="padding-left: 15px;">
                            <div class="col-md-12 plainBackGround">
                                a
                            </div>
                        </td> -->
                        <td style="padding-left: 15px;" colspan="2">
                          
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Date of Sale:
                        </td>
                        <td style="width: 121px;">
                            <input type="Date" style="width: 60%;"> A.D
                        </td>
                        <td style="width: 121px;">
                            <input type="text" style="width: 60%;margin-left: -60px;">B.S
                        </td>
                      <td></td>

                    </tr>
                </table>

              
              
            </div>
            
        
    </div>
    
</ba-card>
