<div class="form-inner">
  <div class="top-forms" *ngIf="!_trnMainService.TrnMainObj.hasShipName">
    <div class="row">
      <div class="col-md-3">
        <h3 class="main-heading" style="margin-top: 4px;"><i class="fa fa-th" (click)="onTransactionConfigureClick()"
            style="color: #2bade5;
          cursor: pointer; font-size: 20px;" title="Click to configure grid"></i>{{ _trnMainService.pageHeading }}
          [{{_trnMainService.TrnMainObj.Mode |titlecase}}]</h3>
        <h3 class="main-heading">{{_trnMainService.TrnMainObj.AdditionalObj.TRNTYPE=="local"?'CGST/SGST':'IGST'}}</h3>
      </div>
      <div class="col-md-9 form-right-btn">
        <voucher-master-toggler></voucher-master-toggler>
        <voucher-master-action (onLoadFromHoTaxInvoiceClickEmit)="showSupplierSalesInvoiceFromHOPopup($event)"
          (onLoadFromMREmit)="showMRList()" (onLoadFromSAPFTPClickEmit)="showSAPPurchaseInvoice($event)"
          (onPInvoieFileUploadPopupEmit)="showPurchaseInvoicePopup($event)"
          (onShowMatrixFileUploadPopupEmit)="onImportMatrixinputPurchaseInvoice($event)"
          (onAICODPInvoieFileUploadPopupEmit)="onAICODPInvoieFileUploadPopupEmit($event)"
          (onLoadFromHOPerformaInvoiceClickEmit)="showLoadFromPerformaInvoiceRequestPopup($event)"
          (onCancelEmit)="onCancelClicked()" (onLoadFromPOClickEmit)="showLoadFromPOPopup($event)">
        </voucher-master-action>
        <generic-popup-grid #genericHOSalesInvoiceGridTI [popupsettings]="gridHoSalesInvoicePopupSettings"
          (onItemDoubleClick)="onHoSalesInvoiceSelect($event)" (onDeleteClicked)="DeleteEDISalesInvoice($event)">
        </generic-popup-grid>

        <generic-popup-grid #showMRListGrid [popupsettings]="showMRListGridPopupSettings"
          (onItemDoubleClick)="onMRSelect($event)"></generic-popup-grid>



        <generic-popup-grid #genericsGridSAPPI [popupsettings]="gridSAPPIPopupSettings"
          (onItemDoubleClick)="onSAPPurchaseInvoiceSelect($event)" (onDeleteClicked)="DeleteSapInvoice($event)">
        </generic-popup-grid>
      </div>
    </div>
    <user-wise-transaction-form-configuration #userwisetransactionformconfig
      (updateGridConfigAfterSave)="updateGridConfig($event)"></user-wise-transaction-form-configuration>
  </div>
  <div class="content-areaform" *ngIf="!_trnMainService.TrnMainObj.hasShipName">
    <div *ngIf="masterService.ShowMore" class="">
      <trnmain-purchase-entry></trnmain-purchase-entry>
    </div>
    <div class="row">
      <div class="col-md-12">
        <productentry></productentry>
      </div>
    </div>
  </div>

</div>

<div style="top:15%;right:-20%;position: absolute;">
  <voucher-sidebar-billdetail></voucher-sidebar-billdetail>
</div>
<div class="sticky-bottom" *ngIf="!_trnMainService.TrnMainObj.hasShipName">
  <voucher-total-area></voucher-total-area>
</div>
<div *ngIf="_trnMainService.TrnMainObj.hasShipName">
  <div style="display : block; padding: 0px;left: 10px;
    padding: 0px;
    top: 101px;
    width: 99%;">
    <!-- Modal content -->
    <div>
      <div>
        <div>
          <div style="padding: 0px;background: #ecad79;">
            <div class="col-md-3">
              <h3>Sales Invoice</h3>
            </div>
            <div class="col-md-3">
              <h3>
                Ship To:-{{_trnMainService.TrnMainObj.BILLTO}}
              </h3>
            </div>
            <div class="col-md-3">
              <button class="btn btn-info" (click)="saveTaxInvoice()">Save</button>
              <button class="btn btn-info" (click)="popupClose()">Cancel</button>
            </div>
          </div>
          <div>
            <div style="background-color: #FFFFFF;height:450px;overflow-x: scroll;width: 100%">
              <table class="table" style="margin-bottom: 5px; font-size: 12.5px;width: 2000px;overflow: scroll">
                <tr style="border-bottom: 2px solid #E6E6E6; border-top: 2px solid #E6E6E6;    height: 30px;
                  background: silver;
                  color: black;">
                  <th>S.No.</th>
                  <th>Code</th>
                  <th>Description</th>
                  <th>BatchNo
                  </th>
                  <th>Mfg Dt
                  </th>
                  <th>Exp Dt
                  </th>
                  <th>Qty</th>
                  <th>Packing</th>
                  <th>MRP</th>
                  <th>Cost Price</th>
                  <th>Selling Price</th>
                  <th>Disc %</th>
                  <th>Disc Amt</th>
                  <th>GST%</th>
                  <th>GST TaxAmt</th>
                  <th>P Dis.</th>
                  <th>S Dis.</th>
                  <th>L Dis.</th>
                  <th>OS Dis.</th>
                  <th>Net Amnt</th>p
                  <th>Remarks</th>
                </tr>
                <tbody *ngFor="let tList of _trnMainService.TrnMainObj.ProdList;let i=index" style="border: 1px">
                  <tr style="border: 1px solid #e6e6e6;max-height:25px;">
                    <td id="sno{{i}}" style="border: 1px solid #e6e6e6;width:20px;">{{i+1}}</td>
                    <td style="height:23px;border: 1px solid #e6e6e6;width:80px">
                      {{tList.MENUCODE}}
                    </td>
                    <td style="border: 1px solid #e6e6e6;width:300px;background-color: #f9f9f9;">
                      {{tList.ITEMDESC}}
                    </td>
                    <td style="border: 1px solid #e6e6e6;width:300px;background-color: #f9f9f9;">
                      {{tList.BATCH}}
                    </td>
                    <td style="height:23px;border: 1px solid #e6e6e6;width:150px">{{tList.MFGDATE | date: 'dd-MM-yyyy'}}
                    </td>
                    <td style="height:23px;border: 1px solid #e6e6e6;width:150px">{{tList.EXPDATE | date: 'dd-MM-yyyy'}}
                    </td>
                    <td style="border: 1px solid #e6e6e6;width:300px;background-color: #f9f9f9;">
                      {{tList.Quantity}}
                    </td>
                    <td style="height:23px;border: 1px solid #e6e6e6;width:100px">
                      {{tList.ALTUNIT}}
                    </td>
                    <td style="height:23px;border: 1px solid #e6e6e6;width:100px;background-color: #f9f9f9;">
                      {{tList.ALTMRP | twoDigitNumber}}
                    </td>
                    <td style="height:23px;border: 1px solid #e6e6e6;width:100px"> {{tList.ALTRATE2 | twoDigitNumber}}
                    </td>
                    <td style="height:23px;border: 1px solid #e6e6e6;width:100px"> {{tList.ALTRATE | twoDigitNumber}}
                    </td>
                    <td style="height:23px;border: 1px solid #e6e6e6;width:100px"> {{tList.INDDISCOUNTRATE}}
                    </td>
                    <td style="height:23px;border: 1px solid #e6e6e6;width:100px">{{tList.INDDISCOUNT}}
                    <td style="height:23px;border: 1px solid #e6e6e6;width:100px;">
                      {{tList.GSTRATE}}
                    </td>
                    <td style="height:23px;border: 1px solid #e6e6e6;width:100px;">
                      {{_trnMainService.nullToZeroConverter(tList.VAT) |twoDigitNumber}}
                    </td>
                    <td style="height:23px;border: 1px solid #e6e6e6;width:100px;">
                      {{ _trnMainService.nullToZeroConverter(tList.PrimaryDiscount)|twoDigitNumber}}
                    </td>
                    <td style="height:23px;border: 1px solid #e6e6e6;width:100px;">
                      {{_trnMainService.nullToZeroConverter(tList.SecondaryDiscount)|twoDigitNumber}}
                    </td>
                    <td style="height:23px;border: 1px solid #e6e6e6;width:100px;">
                      {{_trnMainService.nullToZeroConverter(tList.LiquiditionDiscount) |twoDigitNumber}}
                    </td>
                    <td style="height:23px;border: 1px solid #e6e6e6;width:100px;">
                    </td>
                    <td style="height:23px;border: 1px solid #e6e6e6;width:100px">
                      {{_trnMainService.nullToZeroConverter(tList.NETAMOUNT)|twoDigitNumber}}
                    </td>
                    <td style="height:23px;border: 1px solid #e6e6e6;width:150px">{{tList.REMARKS}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<file-uploader-popup #fileUploadPopup [popupsettings]="fileUploadPopupSettings"
  (onUploaded)="fileUploadSuccess($event)">
</file-uploader-popup>
<file-uploader-popup #fileMatrixUploadPopup [popupsettings]="fileMatrixUploadPopupSettings"
  (onUploaded)="fileMatrixUploadSuccess($event)">
</file-uploader-popup>
<file-uploader-popup #fileUploadPopupAICOD [popupsettings]="fileUploadPopupAICODSetting"
  (onUploaded)="fileUploadPopupAICODSuccess($event)">
</file-uploader-popup>
<generic-popup-grid #genericGridPerformaInvoice [popupsettings]="gridPopupSettingsForHOPerformaRequest"
  (onItemDoubleClick)="onHoPerformaInvoiceClicked($event)">
</generic-popup-grid>
<generic-popup-grid #genericGridPO [popupsettings]="gridPopupSettingsForPurchaseOrder"
  (onItemDoubleClick)="onHoPurchaseOrderClicked($event)">