.modal-content {
  padding: 1px;
  margin : 0px;
  float  : right;
}

.modal-content-main-area{
  height: 75vh !important;
}

.modal-sticky {
  width: 70vw im !important;
}

tbody>tr:hover {
  background-color: #f3f5f4;
  cursor          : pointer;
}

tr {
  font-size: 11px;
}

.selected-row {
  background-color: #ced6d3 !important;
}

.table>tbody>tr>td {
  line-height: 30px !important;
}

.table>thead>tr>th {
  line-height: 5px !important;
}

.table>tbody>tr>td:first-child {
  text-align: left !important;
  padding   : 0px 0px 0px 11px !important;
}

.modal-content {
  box-shadow: -10px 0px 10px 1px #aaaaaa;
}

.modal-content-main-area {
  max-height: 100%;
  height    : 100%;
  overflow  : auto;
  overflow-x: hidden;
  width     : 100% !important;
}

.modal-content-summary-area {
  max-height: 20%;
  height    : 20%;
  overflow  : auto;
  overflow-x: hidden;
}

.ellipsis {
  /* width: 220px;
  text-overflow: ellipsis;
  overflow: hidden; */
  white-space: nowrap;
}





.matrix-table {
  th {
    background: #CED6D3;
    border    : 1px solid #dbd7d7;

  }

  td {
    height: 30px;
    border: 1px solid #dbd7d7;
  }

  .borderdiv {
    border: 1px solid rgba(119, 119, 119, 0.15)
  }

  .rowdiv {
    border    : 1px solid rgba(119, 119, 119, 0.15);
    text-align: center;
  }

  .smalllabeldiv {
    height: 16px;
  }

  .smallHeader {
    font-size  : 11px;
    font-weight: bold;
    margin     : 0px;

  }


  .scrolldiv {
    max-height                : 75px;
    padding-right             : 30px;
    overflow                  : auto;
    scrollbar-3dlight-color   : #FFFFFF;
    scrollbar-arrow-color     : #000000;
    scrollbar-base-color      : #FF9999;
    scrollbar-darkshadow-color: #000000;
    scrollbar-face-color      : #000000;
    scrollbar-highlight-color : #000000;
    scrollbar-shadow-color    : #0033CC;
  }

  .multiboxspan {
    font-size       : 11px;
    font-weight     : bold;
    position        : relative;
    float           : left;
    display         : block;
    margin          : 2px;
    border          : 1px solid silver;
    border-radius   : 5px;
    background-color: lavenderblush;
  }

  .smallBoldLabel {
    font-size     : 11px;
    font-weight   : bold;
    margin        : 0px;
    float         : left;
    /* margin-left: 10px; */
    color         : #222;
    /* font-family: arial; */

  }

  .table-container {
    height: 77vh;

  }

  table {
    display  : flex;
    flex-flow: column;
    height   : 95%;

  }

  table thead,
  table tfoot {
    /* head takes the height it requires, 
      and it's not scaled when table is resized */
    flex : 0 0 auto;
    width: calc(100% - 0.9em);

  }


  table tbody {
    /* body takes all the remaining available space */
    flex      : 1 1 auto;
    display   : block;
    overflow-y: scroll;
  }

  table tbody tr {
    width: 99.6%;
  }

  table thead,
  table tfoot,
  table tbody tr {
    display     : table;
    table-layout: fixed;
  }

  .reportTabel tr:hover {
    background-color: #e0e0e0;
  }

  .reportTabel tr.active td {
    background-color: burlywood !important;
    color           : white;
  }

  .reportTabel tr:nth-child(odd) {
    background-color: #F2F2F2;
  }

  .reportTabel tr:nth-child(even) {
    background-color: #FFFFFF;
  }

  /* New */

  legend {
    font-size  : 11px;
    font-weight: bold;
    color      : #222;
    width      : auto;
  }

  fieldset {
    margin-bottom: 1%;
  }

  .modal-content-main-area {
    margin-top: 10%;

    .modal-header {
      h4 {
        font-weight: 600;
        font-size  : 15px;
        padding    : 0px 5px;
      }
    }
  }



  .custom-table td {
    padding-left  : 0px !important;
    padding-right : 0px !important;
    padding-bottom: 1px !important;
  }

  .custom-table input,
  select {
    width : 100% !important;
    height: 35px !important;
    border: none !important;
  }

  td {
    padding-left  : 0px !important;
    padding-right : 0px !important;
    padding-bottom: 1px !important;
  }

  input,
  select {
    width : 100% !important;
    height: 35px !important;
    border: none !important;
  }

  th {
    height : 25px !important;
    padding: 0 5px !important;
  }

  td {
    overflow: hidden;
  }

}