<div class="widgets">
        <div class ="row">
            <button type="button" class="btn btn-info" (click)="addNewSalesAreaType()" style="margin-left:18px; margin-bottom: 10px;">New Sales Area Type</button>
            </div>
        
          <div class="row">
            <ba-card  title="Sales Area Type" baCardClass="with-scroll">
              <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEditClick($event)" (view)="onViewClick($event)" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
            </ba-card>
          </div>  
</div>