<div class="widgets">
  <div class ="row">
    <button type="button" class="btn btn-info" (click)="onAddClick()" style="margin-left:18px; margin-bottom: 10px;">Add Customer Info</button>
    </div>
<div class="row">
    <ba-card title="Customer Info" baCardClass="with-scroll">
      <!-- <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEditClick($event)" (view)="onViewClick($event)" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table> -->
      <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEditClick($event)" (view)="onViewClick($event)"></ng2-smart-table>
    </ba-card>
  </div>

</div>
