<div class="sub-headingbar">
  <div class="col-md-6">
    <h3>
      Discount Coupon - Master
    </h3>
  </div>
  <div class="col-md-6">
    <button type="button" (click)="onSaveClicked()" title="onSave" class="btn btn-info pull-left">
      Save
    </button>
    <button type="button" (click)="onGenerateClicked()" title="Generate" class="btn btn-info pull-left">
      Generate Coupon
    </button>

  </div>
</div>

<div class="row">
  <div class="col-md-12" style="height: 550px; overflow: scroll;margin: 50px 5px;">

    <div class="form-group clearfix">
      <label class="col-sm-2 form-control-label">Select Coupon*</label>
      <div class="col-sm-5">
        <select [(ngModel)]="CouponTypeId" class="form-control" (change)="selectCouponType(CouponTypeId)">
          <option value="">Select Coupon Name</option>
          <option *ngFor="let cp of CouponNames;let i = index;" value="{{cp.CouponTypeId}}">{{cp.CouponName}}
            ({{cp.DiscountType}})</option>
        </select>
      </div>
    </div>
    <div class="form-group clearfix">
      <label class="col-sm-2 form-control-label">Coupon {{MaxDiscountLimitFlag}}*</label>
      <div class="col-sm-5">
        <input type="number" [(ngModel)]="MaxDiscountLimit" min="1" class="form-control" (keypress)="numberOnly($event)"
          placeholder="Coupon Value" />
      </div>
    </div>
    <div class="form-group clearfix">
      <label class="col-sm-2 form-control-label">Coupon Prefix*</label>
      <div class="col-sm-5">
        <input type="text" [(ngModel)]="SeriesPrefix" class="form-control" [disabled]="startingValueFlag"
          placeholder="Coupon Prefix" />
      </div>
    </div>
    <div class="form-group clearfix">
      <label class="col-sm-2 form-control-label">Starting Value*</label>
      <div class="col-sm-5">
        <input type="number" [(ngModel)]="StartSeriesNo" [disabled]="startingValueFlag" min="1" class="form-control"
          (keypress)="numberOnly($event)" placeholder="Starting Value" />
      </div>
    </div>
    <div class="form-group clearfix">
      <label class="col-sm-2 form-control-label">Coupon Count*</label>
      <div class="col-sm-5">
        <input type="number" [(ngModel)]="CouponCount" min="1" class="form-control" (keypress)="numberOnly($event)"
          placeholder="Coupon Count" />
      </div>
    </div>
    <div class="form-group clearfix">
      <label class="col-sm-2 form-control-label">Expiry Validation*</label>
      <div class="col-sm-5">
        <select [(ngModel)]="IsExpiryValidationRequired" class="form-control" (change)="changeExpValid()">
          <option value="">Select Expiry Validation</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>
    </div>
    <div class="form-group clearfix" *ngIf="IsExpiryValidationFlag">
      <label class="col-sm-2 form-control-label">Valid Upto*</label>
      <div class="col-sm-5">
        <input type="date" [(ngModel)]="ValidUpto" class="form-control" placeholder="Valid Upto" />
      </div>
    </div>
    <div class="form-group clearfix" *ngIf="IsExpiryValidationFlag">
      <label class="col-sm-2 form-control-label">Valid Days After Issue*</label>
      <div class="col-sm-5">
        <input type="number" [(ngModel)]="NoOfValidDayFromIssuedDate" min="1" class="form-control"
          (keypress)="numberOnly($event)" placeholder="Valid Days After Issue" />
      </div>
    </div>
    <table class="table location-wise" *ngIf="tableFlag">
      <thead>

        <tr>
          <th>Sno.</th>
          <th>Coupon Code</th>
          <th>Discount Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of  CouponValueData;let i =index">
          <td>{{i+1}}</td>
          <td *ngIf="startingValueFlag"><input type="text" [(ngModel)]="item.CouponListValue" class="form-control"></td>
          <td *ngIf="!startingValueFlag">{{item.CouponListValue}}</td>
          <td>{{item.DiscountValue}}</td>
        </tr>

      </tbody>

    </table>
  </div>



  <div class="modal fade" bsModal #childModal="bs-modal" [config]="{ backdrop: 'static' }" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" aria-label="Close" (click)="hideChildModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Information</h4>
        </div>
        <div class="modal-body">
          {{ DialogMessage }}
        </div>

      </div>
    </div>
  </div>
</div>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


  .table-inner {
    height: 300px;
    overflow: auto;
    width: 100%;
  }

  .table>tbody>tr>td {
    padding: 2px 8px;
    line-height: 35px;
    border: 1px solid #b7b7b7;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #b7b7b7;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
  }

  .table>thead>tr>th {
    padding: 4px 8px;
    line-height: 35px;
    border: 1px solid #0588ca;
    font-weight: 600;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: #0099e5;
    color: #fff !important;
  }

  .table-responsive {
    margin-top: 0;
  }

  .table-inner[_ngcontent-c5] {
    width: 100%;
    background: #fff;
    margin: 24px 0 0;
    padding: 0;
  }


  table {
    width: 100%;
  }

  table,
  td {
    border-collapse: collapse;
  }

  thead {
    display: table;
    /* to take the same width as tr */
    width: calc(100% - 17px);
    /* - 17px because of the scrollbar width */
  }

  tbody {
    display: block;
    /* to enable vertical scrolling */
    max-height: 350px;
    /* e.g. */
    overflow-y: scroll;
    /* keeps the scrollbar even if it doesn't need it; display purpose */
  }

  th,
  td {
    width: 28.33%;
    /* to enable "word-break: break-all" */
    padding: 5px;
    word-break: break-all;
    /* 4. */
  }

  tr {
    display: table;
    /* display purpose; th's border */
    width: 100%;
    box-sizing: border-box;
    /* because of the border (Chrome needs this line, but not FF) */
  }

  td {
    text-align: center;
    border-bottom: none;
    border-left: none;
  }
</style>