<div class="form-inner">
  <div class="top-forms">
      <div class="row">
        <div class="col-md-4">
          <h3 class="main-heading">{{ _trnMainService.pageHeading }} [{{_trnMainService.TrnMainObj.Mode |titlecase}}]</h3>
        </div>
        <div class="col-md-8 form-right-btn">
          <voucher-master-toggler></voucher-master-toggler>
          <voucher-master-action
            (onLoadFromPOClickEmit)="showLoadFromPOPopup($event)" 
            (onShowSalesOrderfromMobileEmit)="showLoadFromPOPopupFromMobile()"
            (onShowFileUploadPopupEmit)="showImportPopup()">
          </voucher-master-action> 
          <generic-popup-grid
            #genericGridPO
            [popupsettings]="gridPopupSettingsForPurchaseOrder"
            (onItemDoubleClick)="onHoPurchaseOrderClicked($event)"
            (onDeleteClicked)="onPODeleteClick($event)">
          </generic-popup-grid>
          <generic-popup-grid
            #genericGridPOfromMobile
            [popupsettings]="gridPopupSettingsForPurchaseOrderFromMobile"
            (onItemDoubleClick)="onHoPurchaseOrderFromMobileClicked($event)"
            (onDeleteClicked)="onSoDeleteClick($event)">
          </generic-popup-grid>
        </div>
      </div>
  </div>

  <div class="content-areaform">
      <div class="col-md-12">
        <div *ngIf="masterService.ShowMore" class="row">
          <trnmain-parameters-master></trnmain-parameters-master>
        </div>
        <div class="row">
          <productentry></productentry>
        </div>
      </div>
      <voucher-sidebar-billdetail></voucher-sidebar-billdetail>
  </div>
</div>

<div class="sticky-bottom">
  <voucher-total-area></voucher-total-area>
</div> 
<file-uploader-popup
    #fileUploadPopup 
    [popupsettings]="fileUploadPopupSettings"
    (onUploaded) = "fileUploadSuccess($event)"> 
</file-uploader-popup>
