<div class="widgets">
    <div class ="row">
        <button *ngIf="canActiveMenu('Branch', 'add')" type="button" class="btn btn-info" (click)="addNewProductHierarchy()" style="margin-left:18px; margin-bottom: 10px;">Add Sales Officer </button>
        </div>
      <div class="row">
        <ba-card  title="Sales Officer Master" baCardClass="with-scroll">
          <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEditClick($event)" (view)="onViewClick($event)" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
        </ba-card>
      </div> 
 </div>
    