.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header::after {
    display: none;
}

.card-body {
    padding: 5px !important;
    max-height: 455px !important;
}

.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0px;
}

.scroll-touch {
    -webkit-overflow-scrolling: touch !important;
}

.table td,
.table th {
    padding: 0.10rem !important;
}

.sticky-top {
    margin-top: 60px;
    height: 100vh;
}

tbody {
    display: block;
    height: 59vh;
    overflow: auto;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* even columns width , fix width of table too*/
}

th {
    font-size: 15px;
}

td {
    font-size: 13px;
}

.btn-sm {
    line-height: 3px;
}

.card-header {
    padding: 10px 20px;
}

.card-footer {
    height: 6vh;
}

.searchBy {
    font-size: 13px;
    margin-left: 16rem;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #17a2b8 !important;
    border: transparent !important;
    border-radius: 20px !important;
}

.my-pagination /deep/ .ngx-pagination .current:hover {
    background: #74d4e2 !important;
    border-radius: 20px !important;
    border: transparent !important;
}

.my-pagination /deep/ .ngx-pagination a:hover,
.ngx-pagination button:hover {
    background: #c2c2c2;
    border-radius: 20px !important;
}
.popUpForDeviceSetting{
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: 400px;
    right: 0;
    bottom: 0;
    background: white;
    overflow: hidden;
    z-index: 99999999;
    padding:7px;
}
.highlighted{
    background: silver;
    color: black
}