<style>
    .voucherclass {
        margin-left: 10px;
        height: 23px;
        vertical-align: middle;
        font-size: 13px;
        border: 1px solid #cbcbcb;
        border-radius: 3px;
        color: black;
        padding-left: 4px;
    }

    .hidebutton {
        visibility: hidden;
        /* Hide button */
    }

    .hoverButtonVisible:hover button {
        visibility: visible;
        /* On :hover of div show button */
    }

    .TableRowSize {
        height: 23px;
        border: 1px solid #e6e6e6;
        width: 100px;

    }
</style>
<div class="sticky-top row">
    <div class="col-md-4">
        <h5>{{modeTitle}}</h5>
    </div>
    <div class="col-md-8">
        <div class="row pull-right">

            <button type="submit" class="btn btn-info btn-sm" (click)="onSaveClicked()"
                [disabled]="disableOnView">Save</button>
            <button type="button" class="btn btn-info btn-sm" (click)="cancel()">Reset</button>

        </div>

    </div>
</div>

<div class="row plainBackGround" style="margin-top: 25px;">
    <div *ngIf="outletList && outletList.length" class="clearfix">
        <div class="col-md-4">
            <angular4-multiselect [data]="outletList" class="form-control" [(ngModel)]="SchemeObj.outletList"
                [settings]="multiselectOutLetSetting" (onSelect)="onMultiSelect($event)"
                (onDeSelect)="onMultiSelect($event)" (onSelectAll)="onMultiSelect($event)"
                (onDeSelectAll)="onMultiSelect($event)">
            </angular4-multiselect>
        </div>
    </div>




    <div class="row" style="margin-left: 10px">
        <div class="col-md-6" style="
        margin: 10px;
        max-height: 150px;
      ">
            <div class="row">
                <div class="col-sm-4">
                    <label style="width: 400px;">Scheme Name:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" style="width: 150%" [(ngModel)]="SchemeObj.SchemeName"
                        [disabled]="disableOnView" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label style="width: 400px;">Offer Family:</label>
                </div>
                <div class="col-sm-8">
                    <input id="offerfamilyinput" type="text" style="width: 150%" [(ngModel)]="SchemeObj.offerFamily"
                        [disabled]="disableOnView" (keydown.enter)="offerFamilyEnterKryEvent()" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label style="width: 25%">Schedule:</label>
                </div>
                <div class="col-sm-4">
                    <select style="width: 360%" [(ngModel)]="SchemeObj.ScheduleID" [disabled]="disableOnView">
                        <option *ngFor="let s of getScheduleList" class="voucherclass" style="width:100%"
                            [ngValue]="s.DisID">{{s.DiscountName}}</option>

                    </select>

                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label style="width: 150%">Scheme Type:</label>
                </div>
                <div class="col-sm-4">
                    <select style="width: 360%" [(ngModel)]="SchemeObj.SchemeType" (change)="schemeTypeChange()"
                        [disabled]="disableOnView">
                        <option value="bydiscount">By Discount</option>
                        <option value="bybulk">By Bulk</option>
                        <option value="bybulkonanotheritem">By Bulk On another item</option>
                        <option value="byslabdiscount">By Slab Discount</option>
                        <option value="byslabbilldiscount">By Slab Bill Discount</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label style="width: 150%">Customer Type:</label>
                </div>
                <div class="col-sm-4">
                    <select style="width: 100%" [(ngModel)]="SchemeObj.CustomerType" (change)="accountnamechanges()"
                        [disabled]="disableOnView">
                        <option value="onCustomer">On Customer</option>
                        <option value="onCustomerCategory">On Category</option>

                    </select>
                </div>
                <div class="col-sm-4">
                    <input type="text" id="CustomerTypeCode{{i}}" [(ngModel)]="SchemeObj.AccountName"
                        (change)="accountnamechanges()" style="width: 250%;" (keydown.Tab)="CustomerTypeCodeEvent(i)"
                        (keydown.enter)="CustomerTypeCodeEvent(i)" placeholder="Press enter to select Customer "
                        autocomplete="off" [disabled]="disableOnView">
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row" *ngIf="enableTable==true"
    style="margin-left:10px; margin-right:0px;background:white; color: #666666;  background-color: #ffffff; border: 0; border-radius: 5px; position: relative;   box-shadow:0 5px 5px 0 rgba(0, 0, 0, 0.25);height: 59vh;">
    <!-- <div class="col-md-12"> -->
    <div class="col-md-12" style="margin-left: -40px;">
        <!-- <div class="row" style="margin-left:20px;padding-top:10px;"> -->


        <div class="row" style="padding: 10px 47px;">
            <div class="col-sm-4" *ngIf="SchemeObj.SchemeType=='bydiscount' || SchemeObj.SchemeType=='bybulk'">
                <label style="width: 100px;">Discount Type :</label>

                <select class="voucherclass" style="width:70%;" [(ngModel)]="SchemeObj.DiscountType"
                    (change)="discountTypeChange()" [disabled]="disableOnView">

                    <option value="MCAT">By Category</option>
                    <!-- <option value="MGroup">By MGroup</option>
                      <option value="Parent">By Parent</option> -->
                    <option value="Mcode">By Item</option>
                </select>
            </div>
            <div class="col-sm-4" *ngIf="SchemeObj.SchemeType=='byslabdiscount'">
                <label style="width: 100px;">Slab Dis Type :</label>

                <select class="voucherclass" style="width:70%;" [(ngModel)]="SchemeObj.slabDiscountType"
                    [disabled]="disableOnView">

                    <!-- <option value="amountRange">By Amount Range</option> -->
                    <option value="quantityRange">By Qty Range</option>
                </select>
            </div>
            <div class="col-md-4" style="padding-left: 0px">
                <label>Offer On:</label>
                <select style="width:100px" [(ngModel)]="SchemeObj.OfferOn" (change)="masterSchemeChangeParameter()"
                    [disabled]="disableOnView">
                    <option value="rate">Rate(%)</option>
                    <option value="amount">Amount</option>
                    <option *ngIf="SchemeObj.SchemeType=='bybulk' || SchemeObj.SchemeType=='bybulkonanotheritem'"
                        value="quantity">Quantity</option>
                    <option
                        *ngIf="SchemeObj.SchemeType=='bybulkonanotheritem'||(SchemeObj.SchemeType=='byslabdiscount' && SchemeObj.slabDiscountType=='quantityRange')"
                        value="fixprice">Fix Price</option>
                </select>
            </div>

            <div class="col-md-4" style="padding-left: 0px"
                *ngIf="SchemeObj.OfferOn=='amount' && SchemeObj.SchemeType!='byslabbilldiscount'">
                <label style="width: 150px;"> Is Discount Amount:</label>
                <select style="width:150px" [(ngModel)]="SchemeObj.VAT" [disabled]="disableOfferOn"
                    [disabled]="disableOnView">
                    <option value=1>GST Included</option>
                    <option value=0>GST Excluded</option>
                </select>
            </div>

        </div>

        <div class="row col-md-12" style="height: 49vh;overflow-y: scroll;">
            <table class="table " style="margin-left: 3rem;">

                <tr style="border-bottom: 2px solid #E6E6E6; border-top: 2px solid #E6E6E6;    height: 30px;
                        background:#9ccae4;
                        color: black;">
                    <th scope="col" style="width: 4%;">Sno.</th>
                    <th scope="col"
                        *ngIf="( SchemeObj.DiscountType=='Mcode' )"
                        style="width: 15rem;">Item Code</th>
                    <th scope="col"
                        *ngIf="(SchemeObj.DiscountType=='Mcode')"
                        style="width: 20rem;">Item Name</th>

                    <th scope="col" *ngIf="SchemeObj.DiscountType=='MCAT' || SchemeObj.DiscountType=='Mcode'"
                        style="width: 20rem;">Category Name</th>
                    <th scope="col" *ngIf="SchemeObj.DiscountType=='MGroup'" style="width: 15rem;">Group Code</th>
                    <th scope="col" *ngIf="SchemeObj.DiscountType=='MGroup'" style="width: 20rem;">Group Name</th>
                    <th scope="col" *ngIf="SchemeObj.DiscountType=='Parent'" style="width: 15rem;">Parent Code</th>
                    <th scope="col" *ngIf="SchemeObj.DiscountType=='Parent'" style="width: 20rem;">Parent Name</th>

                    <th scope="col"
                        *ngIf="SchemeObj.SchemeType=='bybulk' || SchemeObj.SchemeType=='bybulkonanotheritem'"
                        style="width: 10rem;">Buying Qty</th>
                    <th scope="col"
                        *ngIf="(SchemeObj.SchemeType=='byslabdiscount' || SchemeObj.SchemeType=='byslabbilldiscount') && SchemeObj.slabDiscountType=='amountRange'"
                        style="width: 10rem;">From (Amount)</th>
                    <th scope="col"
                        *ngIf="(SchemeObj.SchemeType=='byslabdiscount'|| SchemeObj.SchemeType=='byslabbilldiscount') && SchemeObj.slabDiscountType=='amountRange'"
                        style="width: 10rem;">To (Amount)</th>
                    <th scope="col"
                        *ngIf="SchemeObj.SchemeType=='byslabdiscount' && SchemeObj.slabDiscountType=='quantityRange'"
                        style="width: 10rem;">From(Quantity)</th>
                    <th scope="col"
                        *ngIf="SchemeObj.SchemeType=='byslabdiscount' && SchemeObj.slabDiscountType=='quantityRange'"
                        style="width: 10rem;">To(Quantity)</th>
                    <!-- <th scope="col" *ngIf="SchemeObj.SchemeType=='byslabdiscount'" style="width: 10rem;">Gift Voucher</th> -->
                    <!-- <th scope="col" style="width: 24rem;">Particulars</th> -->
                    <th scope="col"
                        *ngIf="SchemeObj.DiscountType=='Mcode' && SchemeObj.SchemeType=='bybulkonanotheritem'"
                        style="width: 15rem;">Dis Item Code</th>
                    <th scope="col"
                        *ngIf="SchemeObj.DiscountType=='Mcode' && SchemeObj.SchemeType=='bybulkonanotheritem'"
                        style="width: 20rem;">Dis Item Name</th>
                    <th *ngIf="SchemeObj.OfferOn=='rate'" scope="col" style="width: 10rem;">Dis Rate(%)</th>
                    <th *ngIf="SchemeObj.OfferOn=='amount'" scope="col" style="width: 10rem;"> Dis Amount</th>
                    <th *ngIf="SchemeObj.OfferOn=='quantity'" scope="col" style="width: 10rem;">Dis Quantity</th>
                    <th *ngIf="SchemeObj.OfferOn=='fixprice'" scope="col" style="width: 10rem;">Fix Price</th>
                    <th  scope="col" style="width: 10rem;">Limit(Amt)</th>
                    <th  scope="col" style="width: 10rem;">Limit(Qty)</th>

                </tr>

                <tbody style="background-color: aliceblue;">
                    <tr *ngFor="let sObj of SchemeObj.SchemeList;let i=index" style="height:28px"
                        (click)="TableRowclick(i)" (keydown.Shift.delete)="deleteRow()">
                        <td id="sno{{i}}" class="TableRowSize" style="width:4%;">{{i+1}}</td>
                        <td *ngIf="(SchemeObj.DiscountType=='Mcode')"
                            style="width: 3rem;text-align: center;" class="TableRowSize">
                            <input type="text" id="itemCode{{i}}" [(ngModel)]="sObj.MENUCODE" style="width: 95%;"
                                (keydown.Tab)="itemKeyEvent(i)" (keydown.enter)="itemKeyEvent(i)"
                                placeholder="Press Enter to select Item" autocomplete="off" [disabled]="disableOnView">
                        </td>

                        <td *ngIf="(SchemeObj.DiscountType=='Mcode')"
                            style="width: 3rem;" class="TableRowSize">&nbsp;&nbsp;{{sObj.DESCA}}</td>
                        
                        <td *ngIf="SchemeObj.DiscountType=='MCAT' || SchemeObj.DiscountType=='Mcode'"
                        style="width: 3rem;text-align: center;" class="TableRowSize">
                        
                        <input type="text" id="category{{i}}" [(ngModel)]="sObj.MCategory" style="width: 95%;"
                       
                                (keydown.Tab)="CatkeyEvent(i)" (keydown.enter)="CatkeyEvent(i)"
                                placeholder="Press Enter to select Category" autocomplete="off"
                                [disabled]="disableOnView">

                        </td>

                        <td *ngIf="SchemeObj.DiscountType=='MGroup'" style="width: 3rem;text-align: center;"
                            class="TableRowSize">

                            <input type="text" id="groupCode{{i}}" [(ngModel)]="sObj.MENUCODE" style="width: 95%;"
                                (keydown.Tab)="groupKeyEvent(i)" (keydown.enter)="groupKeyEvent(i)"
                                placeholder="Press Enter to select Group" autocomplete="off" [disabled]="disableOnView">

                        </td>

                        <td *ngIf="SchemeObj.DiscountType=='MGroup'" style="width: 3rem;" class="TableRowSize">
                            &nbsp;&nbsp;{{sObj.DESCA}}</td>

                        <td *ngIf="SchemeObj.DiscountType=='Parent'" style="width: 3rem;text-align: center;"
                            class="TableRowSize">
                            <input type="text" id="parentCode{{i}}" [(ngModel)]="sObj.MENUCODE" style="width: 95%;"
                                (keydown.Tab)="parentKeyEvent(i)" (keydown.enter)="parentKeyEvent(i)"
                                placeholder="Press Enter to select Parent" autocomplete="off"
                                [disabled]="disableOnView">
                        </td>

                        <td *ngIf="SchemeObj.DiscountType=='Parent'" style="width: 3rem;" class="TableRowSize">
                            &nbsp;&nbsp;{{sObj.DESCA}}</td>




                        <td *ngIf="SchemeObj.SchemeType=='bybulk' || SchemeObj.SchemeType=='bybulkonanotheritem'"
                            style="width: 6rem;" style="text-align: center;" class="TableRowSize">
                            <input type="number" [(ngModel)]="sObj.Quantity" style="width: 95%;" id="buyingQty{{i}}"
                                (keydown.enter)="focusOnDisItemCode()" placeholder="Buying QTY"
                                [disabled]="disableOnView">
                        </td>
                        <!--for bulk end-->

                        <!--for slab discount-->
                        <td *ngIf="SchemeObj.SchemeType=='byslabdiscount' || SchemeObj.SchemeType=='byslabbilldiscount'"
                            style="width: 6rem;" style="text-align: center;" class="TableRowSize">
                            <input type="number" [(ngModel)]="sObj.GreaterThan" style="width: 95%;" id="gtamount{{i}}"
                                (ngModelChange)="onEnter()" (keydown.enter)="focusTolessthan()" placeholder=""
                                [disabled]="disableOnView">
                        </td>

                        <td *ngIf="SchemeObj.SchemeType=='byslabdiscount' || SchemeObj.SchemeType=='byslabbilldiscount'"
                            style="width: 6rem;" style="text-align: center;" class="TableRowSize">
                            <input type="number" [(ngModel)]="sObj.LessThan" style="width: 95%;" id="ltamount{{i}}"
                                (keydown.enter)="focusToOffer()" [disabled]="disableOnView">
                        </td>

                        <!-- <td *ngIf="SchemeObj.SchemeType=='byslabdiscount'" style="width: 6rem;" style="text-align: center;" class="TableRowSize">
                                    <input type="text" [(ngModel)]="sObj.GiftVoucher" style="width: 95%;" id="giftVoucher{{i}}" (keydown.enter)="focusToOffer()" [disabled]="disableOnView" >
                                </td> -->

                        <!--for slab discount end-->

                        <!-- <td style="width: 6rem;" style="text-align: center;" class="TableRowSize">
                                    <input type="text" [(ngModel)]="sObj.PARTICULARS" style="width: 95%;" id="particulars{{i}}"  (keydown.enter)="focusToOffer()"  placeholder="Enter Description...">
                                </td> -->

                        <td *ngIf="SchemeObj.DiscountType=='Mcode' && SchemeObj.SchemeType=='bybulkonanotheritem'"
                            style="width: 3rem;text-align: center;" class="TableRowSize">
                            <input type="text" id="disitemCode{{i}}" [(ngModel)]="sObj.DisItemCode" style="width: 95%;"
                                (keydown.Tab)="disitemKeyEvent(i)" (keydown.enter)="disitemKeyEvent(i)"
                                placeholder="Press Enter to select Dis Item" autocomplete="off"
                                [disabled]="disableOnView">
                        </td>

                        <td *ngIf="SchemeObj.DiscountType=='Mcode' && SchemeObj.SchemeType=='bybulkonanotheritem'"
                            style="width: 3rem;" class="TableRowSize">&nbsp;&nbsp;{{sObj.DisItemName}}</td>



                        <td *ngIf="SchemeObj.OfferOn=='rate'" style="width:3rem;text-align: center;"
                            class="TableRowSize">
                            <input type="number" [(ngModel)]="sObj.DisRate" style="width: 95%;" id="rate{{i}}"
                                (keydown.enter)="nextRow()" (keydown.Tab)="nextRow()" placeholder="Enter Rate"
                                [disabled]="disableOnView">
                        </td>

                        <td *ngIf="SchemeObj.OfferOn=='amount'" style="width:3rem;text-align: center;"
                            class="TableRowSize">
                            <input type="number" [(ngModel)]="sObj.DisAmount" style="width: 95%;" id="amount{{i}}"
                                (keydown.enter)="nextRow()" (keydown.Tab)="nextRow()" placeholder="Enter Amount"
                                [disabled]="disableOnView">
                        </td>
                        <td *ngIf="SchemeObj.OfferOn=='quantity'" style="width:3rem;text-align: center;"
                            class="TableRowSize">
                            <input type="number" [(ngModel)]="sObj.DiscountQuantity" style="width: 95%;" id="qty{{i}}"
                                (keydown.enter)="nextRow()" (keydown.Tab)="nextRow(i)" placeholder="Enter Quantity"
                                [disabled]="disableOnView">
                        </td>

                        <td *ngIf="SchemeObj.OfferOn=='fixprice'" style="width:3rem;text-align: center;"
                            class="TableRowSize">
                            <input type="number" [(ngModel)]="sObj.Rate_A" style="width: 95%;" id="fixprice{{i}}"
                                (keydown.enter)="nextRow()" (keydown.Tab)="nextRow(i)"
                                placeholder="Enter Fix Price of Item" [disabled]="disableOnView">
                        </td>
                        <td  style="width:3rem;text-align: center;"
                        class="TableRowSize">
                        <input type="number" [(ngModel)]="sObj.amtLimit" style="width: 95%;" id="amountlimit{{i}}"
                            (keydown.enter)="nextRow()" (keydown.Tab)="nextRow(i)"
                            placeholder="Enter Amount Limit of Item" [disabled]="disableOnView">
                    </td>
                    <td  style="width:3rem;text-align: center;"
                    class="TableRowSize">
                    <input type="number" [(ngModel)]="sObj.qtyLimit" style="width: 95%;" id="qtyLimit{{i}}"
                        (keydown.enter)="nextRow()" (keydown.Tab)="nextRow(i)"
                        placeholder="Enter Quantity Limit of Item" [disabled]="disableOnView">
                </td>
                    </tr>
                </tbody>



            </table>
        </div>

        <!-- <div class="row" style="text-align: center;padding-left: 60px;">{{TableHeader}}</div> -->
        <!-- <table class="table table-striped" style="margin:2rem;width:100%">
              
                    
                    <tr>
                        <th style="width:40px">SNo</th>
                        <th *ngIf="flag=='Category'" style="padding-left:10px;width:200px">Category Name</th>
                        <th *ngIf="flag!='TotalAmount'" style="padding-left:10px;width:150px">Item Code</th>
                        <th *ngIf="flag!='TotalAmount'" style="width:287px;padding-left: 20px">Particulars</th>
                      
                        <th [hidden]="bulkObj.RangeType=='R'" *ngIf="flag=='Bulk' || flag=='TotalAmount'" style="width:141px;padding-left: 20px">Quantity</th>
                        <th [hidden]="bulkObj.RangeType=='R'" style="width:105px">Discount</th>
                        <th [hidden]="bulkObj.RangeType=='R'" style="width:80px">Type</th>

                    </tr>
                  
                
                   <tbody>
                    <tr *ngFor="let sObj of ItemList;let i=index" style="height:28px" (click)="TableRowclick(i)">

                        <td id="sno{{i}}" style="width:5%;padding-left: 70px;">
                            {{i+1}}</td>

                        <td *ngIf="flag=='Category' && sObj.inputMode==true" contenteditable="true" style="padding-left:10px;width:200px" class="TableRowSize" (keydown.Tab)="CatkeyEvent(i)" (keydown.enter)="CatkeyEvent(i)" [textContent]="sObj.MCategory" (input)="sObj.MCategory=$event.target.textContent"
                            (click)="clickCategory(i)">
                            {{sObj.MCategory}}
                            <span contenteditable="false" class="CellComment">Enter Code or press ENTER or TAB to Select
                              Item</span>
                        </td>
                        <td *ngIf="flag=='Category' && sObj.inputMode==false" class="TableRowSize" style="background-color:  #e6e6e6;">{{sObj.MCategory}}</td>

                        <td *ngIf="flag=='TotalAmount'" contenteditable="true" style="padding-left:10px;width:150px" class="TableRowSize" [textContent]="sObj.RangeQty" (click)="showPopup($event)" (input)="sObj.RangeQty=$event.target.textContent">
                            {{itemCode}}
                        </td>

                        <td *ngIf="flag!='TotalAmount' && sObj.inputMode==true" contenteditable="true" style="padding-left:10px;width:150px" (keydown.Tab)="ItemkeyEvent(i)" (keydown.enter)="ItemkeyEvent(i)" id="menucode{{i}}" class="TableRowSize" [textContent]="sObj.MENUCODE
                          " (input)="sObj.MENUCODE=$event.target.textContent" (click)="showPopup($event)">
                            {{sObj.MENUCODE}}
                            <span contenteditable="false" class="CellComment">Enter Code or press ENTER or TAB to Select
                              Item</span>
                        </td>
                        <td *ngIf="flag!='TotalAmount' && sObj.inputMode==false" class="TableRowSize" style="background-color:  #e6e6e6;">{{sObj.MENUCODE}}</td>

                        <td *ngIf="flag!='TotalAmount' && sObj.inputMode==true" style="width:300px" (keydown.Tab)="ItemkeyEvent(i)" (keydown.enter)="ItemkeyEvent(i)" id="batch{{i}}" class="TableRowSize">
                            {{sObj.DESCA}}
                            <span contenteditable="false" class="CellComment">Enter Code or press ENTER or TAB to Select
                              Item</span>
                        </td>
                        <td *ngIf="flag!='TotalAmount' && sObj.inputMode==false" class="TableRowSize" style="background-color:  #e6e6e6;">{{sObj.DESCA}}</td>
                        

                        <td [hidden]="bulkObj.RangeType=='R'" *ngIf="flag=='Bulk'" contenteditable="true" id="quantity{{i}}" style="width:150px" class="TableRowSize" [textContent]="sObj.RangeQty" (input)="sObj.RangeQty=$event.target.textContent" (keydown.Tab)="RangeQtyEvent(i)"
                            (keydown.enter)="RangeQtyEvent(i)">
                            {{sObj.RangeQty}}
                        </td>

                        <td [hidden]="bulkObj.RangeType=='R'" contenteditable="true" style="width:80px" class="TableRowSize" [textContent]="sObj.DisRate" id="discount{{i}}" (input)="sObj.DisRate=$event.target.textContent">
                            {{sObj.DisRate}}
                        </td>

                        <td [hidden]="bulkObj.RangeType=='R'" (keydown.Tab)="TypeTab(i,sObj)" (keydown.enter)="TypeTab(i)" style="width:80px" class="TableRowSize"><select style="width:100px" [(ngModel)]="sObj.DiscountRateType" (ngModelChange)="ChangeType(sObj)">
                              <option value=0>Rate</option>
                              <option value=1>Amount</option>
                              <option *ngIf="flag!='TotalAmount'" value=2>Quantity</option>
                          </select>
                        </td>
                    </tr>
                   </tbody>
               
            </table> -->


    </div>
    <div *ngIf="bulkObj?.RangeType=='R'" class="col-md-4" style="margin-top:20px">

        <div style="height:330px;width:90%; border:1px solid #b8bbbc">
            <div class="row" style="text-align: center;font-size:15px">Range Quantity List</div>

            <div class="row" style="margin-left:10px">
                <label>ItemCode :</label><input type="text" style="width:150px" disabled>
            </div>
            <table style=" margin:10px;width:90%">
                <tr>
                    <th style="width:40px">Quantity</th>
                    <th style="width:40px">Discount</th>
                    <th style="width:40px">Type</th>
                </tr>


            </table>
        </div>

    </div>

</div>
<!-- <div class="row">
  <button class="btn btn-success btn-add-focus" (click)="onSaveClicked(value)">Save</button>
</div> -->
<!-- <div #showList class="PList">
    <PItemList (dbClickEvent)="dblClickPopupItem($event)" [title]="PlistTitle" (itemCloseClick)="model1Closed()" [opened]="opened">
    </PItemList>
</div> -->

<!-- <div #showBatch class="PList">
  <PBatchList (dbClickEvent)="dblClickPopupBatch($event)" [AlternateUnits]="AlternateUnits"
      [activerowIndex]="activerowIndex" [title]="PlistTitle" [BList]="batchlist" (BatchClosedClick)="model1Closed()"
      (returnBatchValue)="returnBatch($event)"></PBatchList>
</div> -->

<!-- <div #showCat class="PList">
    <PCategoryList (dbClickEvent)="dblClickCategoryItem($event)" [title]="PlistTitle" (CategoryClosedClick)="model1Closed()">
    </PCategoryList>
</div> -->

<!-- <div #showQtyRange class="PList">
    <PopQtyRange (LoadRangeQty)="LoadRangeQty($event)" (RangeQtyClosedClick)="RangeQtyClose()" [RangeObj]="RangeObj">
    </PopQtyRange>
</div> -->
<!-- 
<div class="modal fade" bsModal #childModal="bs-modal" tabindex="-1" role="dialog" style="margin-left:-1200px;margin-top:-600px" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" (click)="childModal.hide()">
                  <span aria-hidden="true">&times;</span>

              </button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                {{DialogMessage}}
            </div>


        </div>
    </div>
</div> -->

<generic-popup-grid #genericGridCustomer [popupsettings]="gridPopupSettingsForCustomer"
    (onItemDoubleClick)="dblClickPopupItem($event)">
</generic-popup-grid>


<generic-popup-grid #genericGridDiscountedItem [popupsettings]="gridPopupSettingsForDiscountedItem"
    (onItemDoubleClick)="dblClickPopupDiscountedItem($event)">
</generic-popup-grid>


<popup-ClientSidePaginated #popUpOfferFamily [popupsettings]="gridPopupSettingsForOfferFamily"
    (onItemDoubleClick)="dblClickPopupOfferFamily($event)">
</popup-ClientSidePaginated>