<div class="widgets">
  <div class="row">
    <button
      *ngIf="canActiveMenu('State', 'add')"
      type="button"
      class="btn btn-info"
      (click)="addNewState()"
      style="margin-left:18px; margin-bottom: 10px;"
    >
      Add State
    </button>
  </div>

  <div class="row">
    <ba-card title="STATE" baCardClass="with-scroll">
      <ng2-smart-table
        [settings]="settings"
        [source]="source"
        (edit)="onEditClick($event)"
        (view)="onViewClick($event)"
        (deleteConfirm)="onDeleteConfirm($event)"
      ></ng2-smart-table>
    </ba-card>
  </div>
</div>
