<div class="sticky-top">
        <div class="row clearfix" style=" padding: 0px 20px;">
          <div class="col-md-6">
            <h3 class="page-title">{{ modeTitle }}</h3>
          </div>
          <div class="col-md-6" style="float: right;">
            <button
              type="button "
              class="btn btn-info pull-right"
              (click)="cancel()"
              style="margin-right : 10px;"
            >
              Back
            </button>
            <button
              *ngIf="mode == 'add' || mode=='edit'"
              (click)="onSave()"
              class="btn btn-info pull-right"
              style="margin-right : 10px;"
              [disabled]="!form.valid"
            >
              Save
            </button>
          </div>
        </div>
      </div>
      <div class="main-container" style="padding-top : 10px; margin-bottom: 0px">
        <div class="row">
          <div class="col-md-12">
            <div class="tabbable" id="warehouse-tabs">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#general-info" data-toggle="tab"
                    >General Info</a
                  >
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#tab2" data-toggle="tab">Section 2</a>
                </li> -->
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="general-info">
                  <form class="row" class="form-horizontal" [formGroup]="form">
                    <!-- <ba-card baCardClass="with-scroll">  -->
                    <div class="form-group row">
                      <label class="col-sm-2 form-control-label">State Name:</label>
                      <div class="col-sm-6">
                        <input
                          type="text"
                          [style.background-color]="disabled()"
                          [style.background-color]="editDisabled()"
                          style="color:black"
                          class="form-control"
                          [readOnly]="mode == 'view' ? true : false"
                          id="stateName"
                          name="stateName"
                          formControlName="StateName"
                          placeholder="State Name"
                        />
                        <div
                          *ngIf="
                            !form.controls['StateName'].valid &&
                            form.controls['StateName']?.touched
                          "
                          class="text-danger"
                        >
                          <span *ngIf="form.get('StateName').hasError('required')">
                            State name is required.
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-2 form-control-label">Code :</label>
                      <div class="col-sm-6">
                        <input
                          type="text"
                          [style.background-color]="disabled()"
                          [style.background-color]="editDisabled()"
                          style="color:black"
                          class="form-control"                      
                          id="inputStateCode"
                          name="inputStateName"
                          formControlName="InputStateCode"
                          placeholder="code"
                        />
                        <div
                          *ngIf="
                            !form.controls['InputStateCode'].valid &&
                            form.controls['InputStateCode']?.touched
                          "
                          class="text-danger"
                        >
                          <span *ngIf="form.get('InputStateCode').hasError('required')">
                            State name is required.
                          </span>
                        </div>
                      </div>
                    </div>
                 

             
                    <div class="form-group row">
                      <label class="col-sm-2 form-control-label">Status</label>
                      <div class="col-sm-6">
                        <select
                          class="form-control"
                          style="color:black"
                          [style.background-color]="disabled()"
                          name="status"
                          id="status"
                          formControlName="STATUS"
                        >
                          <option  value=1>Active</option>
                          <option  value=0>Inactive</option>
                        </select>
                       
                      </div>
                </div>
                    <!-- </ba-card>  -->
                  </form>
                </div>
                <!-- <div class="tab-pane" id="tab2">
                  <p>
                    Howdy, I'm in Section 2.
                  </p>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      