<style>
  .table tr th {
    text-align: center;
    vertical-align: middle;
  }

  th {
    height: 25px !important;
  }

  tbody>tr:hover {
    background-color: #f3f5f4;
    cursor: pointer;
  }

  tr {
    font-size: 11px;
  }

  .selected-row {
    background-color: #ced6d3 !important;
  }

  .table>tbody>tr>td {
    line-height: 30px !important;
  }

  .table>thead>tr>th {
    line-height: 5px !important;
  }

  .table>tbody>tr>td:first-child {
    text-align: left !important;
    padding: 0px 0px 0px 11px !important;
  }

  td {
    padding: 5px;
  }
</style>
<div class="sticky-top">
  <div class="clearfix">
    <div class="col-md-4">
      <h3>Multiple Proforma To Sales Invoice</h3>
    </div>
    <div class="col-md-4">
      <div class="form-inline">
        <label style="width:30% ;">Date Selection</label>
        <input style="width: 65%;" class="form-control" type="text" ngxDaterangepickerMd [(ngModel)]="selectedDate"
          [showDropdowns]="true" [alwaysShowCalendars]="true" [ranges]="masterService.dateFilterRange" [showCancel]="true"
          placeholder="Date Range..." (ngModelChange)="dateChanged($event)" />
      </div>
    </div>

    <div class="col-md-4">
      <button class="btn btn-info pull-right" style="margin-left: 5px;" (click)="onFromProformaSave()">Save</button>
      <button class="btn btn-info pull-right" style="margin-left: 5px;" (click)="showList()">Proforma List</button>
    </div>
  </div>
</div>
<div class="clearfix" style="margin-top: 25px;">
  <div class="col-md-6">
    <div class="col-md-12"
      style="background:white;margin-top:10px;min-height:500px;max-height: 500px;overflow-y: scroll;padding-left: 0px;padding-right: 0px;">
      <table style="table-layout: fixed;width:100%;position: sticky;top:0;">
        <thead>
          <tr style="border-bottom:1px solid #f1efef;background: #e3e3e3;">
            <th colspan="4" style="text-align: center">Selected Proforma</th>
            <th colspan="2">
              <span style="font-size: 11; font-weight: bold">
                Number of items : {{ selectedVoucherList.length }}
              </span>
            </th>          </tr>
          <tr style="background: #e3e3e3;">
            <th>Proforma No</th>
            <th>Remarks</th>
            <th>Order No</th>
            <th>Proforma DATE</th>
            <th>Proforma Amount</th>
            <th>Action</th>
          </tr>
        </thead>
      </table>
      <table style="width: 100%;table-layout:fixed;">
        <tbody>
          <ng-container *ngIf="selectedVoucherList.length">
            <tr *ngFor="let itm of selectedVoucherList;let i=index">
              <td>
                {{itm?.VCHRNO}}
              </td>
              <td>
                {{itm?.REMARKS}}
              </td>
              <td>
                {{itm?.REFORDBILL}}
              </td>
              <td>
                {{itm?.TRNDATE}}
              </td>
              <td>
                {{itm?.NETAMOUNT}}
              </td>
              <td><i class="fa fa-trash" (click)="removeFromSelectedList(i)"></i></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>


<generic-popup-grid #genericGrid [popupsettings]="gridPopupSettings" (onItemDoubleClick)="onItemDoubleClick($event)">
</generic-popup-grid>