<div class="sticky-top">
  <div class="row clearfix" style=" padding: 0px 20px;">
    <div class="col-md-6">
      <h3 class="page-title">{{ modeTitle }}</h3>
    </div>
    <div class="col-md-6" style="float: right;">
      <button type="button " class="btn btn-info pull-right" (click)="cancel()" style="margin-right : 10px;">
        Back
      </button>
      <button *ngIf="viewMode == false" (click)="onSave()" class="btn btn-info pull-right" style="margin-right : 10px;">
        Save
      </button>
    </div>
  </div>
</div>
<div class="main-container" style="padding-top : 10px; margin-bottom: 0px">
  <div class="row">
    <div class="col-md-12">
      <div class="tabbable" id="warehouse-tabs">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#general-info" data-toggle="tab">General Info</a>
          </li>
        
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="general-info">
            <form class="row" class="form-horizontal" [formGroup]="form">
              <div class="form-group row">
                <label class="col-sm-2 form-control-label">Name:</label>
                <div class="col-sm-6">
                  <input type="text" [style.background-color]="disabled()" [style.background-color]="editDisabled()"
                    style="color:black" class="form-control" id="organizationHierarchyName"
                    name="organizationHierarchyName" formControlName="OrgName" placeholder="Name" />
                  <div *ngIf="
                            !form.controls['OrgName'].valid &&
                            form.controls['OrgName']?.touched
                          " class="text-danger">
                    <span *ngIf="form.get('OrgName').hasError('required')">
                      name is required.
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 form-control-label">Address:</label>
                <div class="col-sm-6">
                  <input type="text" [style.background-color]="disabled()" style="color:black" class="form-control"
                    id="Parent" name="Parent" formControlName="OrgAddress" placeholder="Address" />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2 form-control-label">Type:</label>
                <div class="col-sm-6">
                  <select class="form-control" style="color:black" formControlName="orgType">
                    <option *ngFor="let pcl of orgTypeList" [value]="pcl.OrgTypeName">{{
                                            pcl.OrgTypeName
                                          }}</option>
                  </select>

                </div>
              </div>


              <div class="form-group row">
                <label class="col-sm-2 form-control-label">Parent:</label>
                <div class="col-sm-6">
                  <select class="form-control" (change)="onParentChange($event)" style="color:black"
                    formControlName="ParentOrgCode">
                    <option *ngFor="let pcl of chanels" [value]="pcl.OrgCode">{{
                                                  pcl.OrgName
                                                }}</option>
                  </select>

                </div>
              </div>



              <div class="form-group row">
                <label class="col-sm-2 form-control-label">Product Category Line:</label>
                <div class="col-sm-6">
                  <select class="form-control" style="color:black" formControlName="PCL">
                    <option *ngFor="let pcl of pclist" [value]="pcl.PCL">{{
                                                  pcl?.COMPANYNAME
                                                }}</option>
                  </select>

                </div>
              </div>


              <div class="form-group row">
                <label class="col-sm-2 form-control-label">SAP Code:</label>
                <div class="col-sm-6">
                  <input type="text" [style.background-color]="disabled()" style="color:black" class="form-control"
                    id="Parent" name="Parent" formControlName="SAPCode" placeholder="sap code" />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-2">Is Active</label>
                    <div class="col-sm-6">
                        <select formControlName="Status" class="form-control">
                          <option value="0">Inactive</option>
                          <option value="1">Active</option>
                        </select>
                      </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>