<div id="CreditNoteRegisterReportId" style="background-color : #ffffff; padding :1%; height : auto; width : 60%; ">
      <div class="row">
         <div class="modal-header" style="width : 97%; margin : 0px auto;">
            <button type="button" class="close" data-dismiss="modal" (click)="closeReportBox()">&times;</button>
            <h4 class="modal-title">Credit Note Register Report</h4>
         </div>
         <!-- Left Column -->
         <div class="col-md-12">
            <fieldset style="width : 99%;">
               <legend>Date Range Selection :</legend>
               <table>
                  <tr>
                     <td><label class="smallBoldLabel">From(AD):</label></td>
                     <td><label class="smallBoldLabel">To(AD):</label></td>
                  </tr>
                  <tr>
                     <td>                                                 
                        <label class="smallBoldLabel"><input  type="date"  style="width:152px; min-width:50%;"  placeholder="Year Start Date" [(ngModel)]="ReportParameters.DATE1"  (change)="changestartDate($event.target.value,'AD')"  ></label>
                     </td>
                     <td>                                                 
                        <label class="smallBoldLabel"><input  type="date" style="width:152px; min-width:50%;"  placeholder="Year Start Date" [(ngModel)]="ReportParameters.DATE2"  (change)="changeEndDate($event.target.value,'AD')"   ></label>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <label class="smallBoldLabel"><input id="nepaliDate" style="width:152px;height:25px;text-align:center" class="nepali-calendar ndp-nepali-calendar" [(ngModel)]="ReportParameters.BSDATE1"
                        type="text" (change)="changestartDate($event.target.value,'BS')"
                        placeholder="yyyy-mm-dd" /> </label>
                     </td>
                     <td>
                        <label class="smallBoldLabel"><input id="nepaliDate" style="width:152px;height:25px;text-align:center" class="nepali-calendar ndp-nepali-calendar" [(ngModel)]="ReportParameters.BSDATE2"
                        type="text" (change)="changeEndDate($event.target.value,'BS')"
                        placeholder="yyyy-mm-dd" /> </label>
                     </td>
                  </tr>
               </table>
            </fieldset>
            <fieldset>
                  <legend>Division Selection:</legend>
                  <select [(ngModel)]="ReportParameters.DIVISION" style="width : 100%;">
                     <option value="%">ALL</option>
                     <option *ngFor="let div of division" value="{{ div.INITIAL }}">
                        {{ div.NAME }}
                     </option>
                  </select>
               </fieldset>
            <div class="btn">
               <!-- <button type="button"  title="onSave" class="btn btn-info">Run</button>    -->
               <button class="btn btn-info confirm-btn" type="button"  (click)=onload()>RUN</button>
               <button type="button"  title="Cancel" class="btn btn-info" (click)="closeReportBox()">Close</button>  
            </div>
         </div>
         <!-- <div class="modal-footer">
            <button class="btn btn-info confirm-btn" type="button"  (click)=onload()>RUN</button>
            </div> -->
      </div>
</div>