 <form class="row" class="form-horizontal" [formGroup]="form" >
    <ba-card [title]="modeTitle" baCardClass="with-scroll" >
 

  <div class="form-group row" >
    <label  class="col-sm-2 form-control-label">Category Group:</label>
    <div class="col-sm-5">
       <select  [disabled]="c==false" formControlName="parent" name="Parent" id="parent"  class="form-control" >
            <option *ngFor="let p of menuCatList" [ngValue]="p.MENUCAT">{{p.MENUCAT}}<option>
        </select>
     
    </div> 
    <button *ngIf="hideAddNewbttn!=false" class="btn btn-success" (click)="AddNewParent()"> Add Group</button>
   <div *ngIf="hideparent!=false">
     <div style="float: left;"> <input formControlName="newparent" class="form-control" type="text" placeholder="New Parent"></div>
      <div style="float: left; padding-left: 20px;"><button (click)="SaveNewParent()" class="btn btn-success"> Add</button>
      <button (click)="CalcelNewPArent()"  class="btn btn-warning" > Hide</button></div>
    </div>
  </div>
   <div class="form-group row">
    <label  class="col-sm-2 form-control-label">Name:</label>
    <div class="col-sm-5">
    <input type="text" formControlName="menucat" [readOnly]="mode=='edit'?true:false" class="form-control"   placeholder="Name">
    </div>
  </div>

  <!--<button [hidden]="hideAddNewbttn==false" type="button" (click)="saveLst()" title="Save" class="btn btn-success">Save</button>-->

  <button (click)="onSave()" title="Save" class="btn btn-info">Save</button>

  <button type="button" (click)="cancel()" title="Cancel" class="btn btn-info">Back</button>
     
    </ba-card>
     <div class="modal fade" bsModal #childModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
                        <h4 class="modal-title">Information</h4>
                    </div>
                    <div class="modal-body">
                        {{DialogMessage}}
                    </div>
                </div>
            </div>
        </div>
  </form>
 