<style>
  label {
    margin: 0;
    padding: 3px;
  }

  .PList {
    display: block;
    margin-top: 40px;
    height: 640px;
    width: 1100px;
    position: fixed;
    float: right;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    top: 0;
    z-index: 1;
  }

  .form-control[readonly],
  .form-control[disabled] {
    color: #000000;
  }

  .content-wrapper label.form-control-label {
    margin: 6px 0 4px;
  }

  .kit-config2 .form-control-label {
    margin: 10px 0 0 !important;
  }
</style>


<div class="content-wrapper">
  <div class="user-topbtn">
    <h3 class="page-title space-heading">Kit Config [{{ _trnMainService.TrnMainObj.Mode }}]</h3>
    <div class="right-btn">
      <button class="btn add-btn" (click)="onSaveClicked()">F6 Save</button>
      <button class="btn btn-download" (click)="onReset()">F3 Reset</button>
      <button class="btn btn-back" (click)="onViewClicked()">F4 View</button>
    </div>
  </div>
  <div class="full-width compony-infoouter">
    <div class="row">
      <div class="col-md-12 kit-config2">
        <div class="form-group">
          <label for="date" class="col-md-4 form-control-label">Entry Date :</label>
          <div class="col-md-8 kit-config-lable">{{ _trnMainService.TrnMainObj.TRNDATE }}</div>
        </div>
        <div class="form-group">
          <label for="date" class="col-md-4 form-control-label">Combo No :</label>
          <div class="col-md-8 kit-config-lable">{{ _trnMainService.TrnMainObj.VCHRNO }}</div>
        </div>
      </div>
    </div>
    <div class="inner-wrap">

      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="productWrap">
              <label for="type" class="col-md-4 form-control-label">Combopack Name :</label>
              <div class="col-md-8">
                <ng-container *ngIf="_trnMainService.TrnMainObj.Mode.toUpperCase() != 'VIEW'">
                  <input type="text" [(ngModel)]="product" class="form-control" placeholder="Press Enter to Select"
                    (keydown.Enter)="productSelect()" (keydown)="preventInput($event)" />
                </ng-container>

                <ng-container *ngIf="_trnMainService.TrnMainObj.Mode.toUpperCase() == 'VIEW'">
                  <h3 class="title-prodct">{{ product }}</h3>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="type" class="col-md-2 form-control-label">Config Qty :</label>
            <div class="col-md-4">
              <input type="number" [(ngModel)]="kitConfigQty" (change)="onKitConfitQuantityChange()"
                class="form-control" />
            </div>
          </div>
          <div class="col-md-4">
            <label for="type" class="col-md-2 form-control-label">Config Unit :</label>
            <div class="col-md-4">

              <select name="configunit" id="configunit" class="form-control" [(ngModel)]="kitconfigunit"
                (change)="onKitConfitQuantityChange()">
                <option *ngFor="let u of alternateUnits" value="{{u.ALTUNIT}}">{{u.ALTUNIT}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-3">
          <label for="type">Batch :</label>
          <input type="text" [(ngModel)]="ComBoBatch" id="type" name="type" class="form-control" />
        </div>


        <div class="col-md-3">
          <label for="MRP">MRP </label>
          <input type="number" class="form-control" id="MRP" name="MRP" [(ngModel)]="ComboMRP">
        </div>
        <div class="col-md-3">
          <label for="srate">Selling Price </label>
          <input type="number" class="form-control" id="srate" name="srate" [(ngModel)]="ComBoSRATE">
        </div>
        <div class="col-md-3">
          <label for="prate">Cost Price </label>
          <input type="number" class="form-control" id="prate" name="prate" [(ngModel)]="ComBoPRATE">
        </div>

      </div>
      <div class="custom-table">
        <div>
          <table class="table">
            <tr>
              <th style="width: 7%">S.No.</th>
              <th style="width: 8%">Code</th>
              <!-- style="width: 28%" -->
              <th [ngStyle]="
                _trnMainService.AppSettings.HideBatch == true
                ? { width: '52%' }
                : { width: '24%' }
                ">
                Description
              </th>
              <th style="width: 13%" *ngIf="_trnMainService.AppSettings.HideBatch == false">
                Batch
              </th>
              <th style="width: 10%" *ngIf="_trnMainService.AppSettings.HideMfgDate == false">
                MFG
              </th>
              <th style="width: 10%" *ngIf="_trnMainService.AppSettings.HideExpDate == false">
                EXP
              </th>
              <th style="width: 10%">PRATE</th>
              <th>Unit</th>
              <th style="width: 10%">Qty</th>
              <th *ngIf="_trnMainService.TrnMainObj.Mode.toUpperCase() != 'VIEW'" style="width: 10%">Req Qty</th>
              <th style="width: 10%"> Total Amount</th>
            </tr>
            <tbody style="width: fit-content">
              <tr *ngFor="let product of products; let i = index" (click)="RowClick(i)">
                <td id="sno{{ i }}">
                  {{ i + 1 }}
                </td>
                <td>
                  {{ product.MCODE }}
                </td>
                <td>
                  {{ product.DESCA }}
                </td>
                <td *ngIf="_trnMainService.AppSettings.HideBatch == false">
                  <ng-container *ngIf="_trnMainService.TrnMainObj.Mode.toUpperCase() != 'VIEW'">
                    <input type="text" id="batch{{ i }}" [(ngModel)]="product.BATCH" class="form-control"
                      (keydown)="preventInput($event)" (keydown.Enter)="getBatchOfItem(i, product)"
                      placeholder="Press ENTER to Select" />
                  </ng-container>
                  <ng-container *ngIf="_trnMainService.TrnMainObj.Mode.toUpperCase() == 'VIEW'">
                    {{ product.BATCH }}
                  </ng-container>
                </td>
                <td *ngIf="_trnMainService.AppSettings.HideMfgDate == false">
                  {{ product.MFGDATE }}
                </td>
                <td *ngIf="_trnMainService.AppSettings.HideExpDate == false">
                  {{ product.EXPDATE }}
                </td>
                <td>
                  {{ product.PRATE }}
                </td>
                <td>
                  {{ product.UNIT }}
                </td>
                <td>
                  {{ product.QTY }}
                </td>
                <td *ngIf="_trnMainService.TrnMainObj.Mode.toUpperCase() != 'VIEW'">
                  {{product.ReqQty}}

                </td>
                <td>
                  {{product.TotAmnt}}

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
<div *ngIf="masterService.PlistTitle == 'batchListold'" class="PList">
  <PBatchListOld (dbClickEvent)="dblClickPopupBatch($event)" [activerowIndex]="activerowIndex" [title]="PlistTitle"
    [BList]="_trnMainService.batchlist" (BatchClosedClick)="model1Closed()" (returnBatchValue)="returnBatch($event)">
  </PBatchListOld>
</div>
<generic-popup-grid #genericGridProduct [popupsettings]="gridProductPopupSettings"
  (onItemDoubleClick)="dblClickPopupProduct($event)">
</generic-popup-grid>
<generic-popup-grid #genericGridItem [popupsettings]="gridItemPopupSettings"
  (onItemDoubleClick)="dblClickPopupItem($event)">
</generic-popup-grid>
<generic-popup-grid #genericGridview [popupsettings]="gridItemviewSettings" (onItemDoubleClick)="dblClickview($event)">
</generic-popup-grid>