    .uiInterstitialContent {
        margin-bottom: 15px;
    }

    .phl {
        padding-left: 20px;
        padding-right: 20px;
    }

    .ptm {
        padding-top: 10px;
    }
    .topborder {
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.uiBoxGray {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
._ohf {
    float: right;
}

.rfloat {
    float: right;
}
.uiButtonConfirm {
    background-color: #4267b2;
    border-color: #29487d;
}

.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover {
    background-color: #f6f7f9;
    border: 1px solid #ced0d4;
}
.uiButton {
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 18px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    vertical-align: top;
    white-space: nowrap;
}
