<style>
  .total-title {
    font-size: 18px !important;
    font-weight: bold;
    width: 50px !important;
  }

  .difference-title {
    width: 175px !important;
    font-size: 18px !important;
    font-weight: bold;
  }

  .account-balance-title {
    width: 120px !important;
    font-size: 21px !important;
    font-weight: bold;
    color: #2dacd1;
  }

  .cr-dr-amount {
    padding: 0px 10px !important;
  }

  .diffAmountItemForAccount{
    font-size: 21px;width: 160px;color: #2dacd1;text-align: right;border: 1px solid #cbcbcb;
  }
  .LeftRightBorder{
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
  }
</style>

<div class="clearfix">
  <div class="col-md-12">
    <table style="margin-bottom: 5px;font-size: 13px;width: 100%;">
      <thead>
        <tr style="border-bottom: 2px solid #E6E6E6;
          border-top: 2px solid #E6E6E6;
          height: 30px;
          background: #e2eaea;
          color: black;">
          <th style="width:5%">
          </th>
          <th>
            <h4  style="text-align:right;    padding-right: 20px;margin-top: 2px;">Total:</h4>
          </th>
          <th style="width:10%;text-align:right" class="LeftRightBorder"
            *ngIf="voucherType == 16 || voucherType == 18 || voucherType == 17 || voucherType == 15 ">


            <a class="total-title" >
              
          {{ _trnMainService.drTotal }} </a> </th>

          <th *ngIf="voucherType == 12 || voucherType == 62 ||  voucherType == 22 || voucherType == 23" style="width:10%;text-align:right" class="LeftRightBorder">
            {{ _trnMainService.drTotal }} Dr.

          </th>
          <th *ngIf="voucherType == 12 || voucherType == 62 ||  voucherType == 22 || voucherType == 23" style="width:10%;text-align:right" class="LeftRightBorder"> {{ _trnMainService.crTotal }} Cr. 
          </th>
          <th style="width:20%"
            *ngIf="voucherType == 16 || voucherType == 18 ||  voucherType == 22 || voucherType == 23 || voucherType == 17 || voucherType == 15 ">
          </th>
          <th style="width:10%;padding-left: 30px;" *ngIf="voucherType == 12 || voucherType == 62">[ {{ _trnMainService.differenceAmount }}
            ]</th>
          <th style="width:55%;float: right;    margin-top: -1px;">
            <label class="account-balance-title">A/C B/L :
            </label><label class="diffAmountItemForAccount">{{ _trnMainService.diffAmountItemForAccount | number }}</label>&nbsp;
            <label style="width:30px !important;font-size:18px;color: #2dacd1;" *ngIf="_trnMainService.diffAmountDrCrType == 'Dr'">Dr.</label>
            <label style="width:30px !important;font-size:18px;color: #2dacd1;" *ngIf="_trnMainService.diffAmountDrCrType == 'Cr'">Cr.</label>
          </th>

        </tr>
      </thead>
    </table>

    <!-- <span disabled decimalPlacesRestriction="2" class="cr-dr-amount">{{ _trnMainService.drTotal }}</span> -->
    <!-- <div class="col-md-4">
      <h4>
        <label class="total-title">
          <h4>Total:</h4>
        </label>
        <span disabled decimalPlacesRestriction="2" class="cr-dr-amount">{{ _trnMainService.drTotal }}</span>
        <span disabled decimalPlacesRestriction="2" class="cr-dr-amount">
          {{ _trnMainService.crTotal }} Cr.</span
        >
      </h4>
    </div> -->
    <!-- <div class="col-md-4">
      <h4>
        <label class="total-title"><h4>Total:</h4></label>
        <span disabled decimalPlacesRestriction="2" class="cr-dr-amount">
          {{ _trnMainService.trntranTotal }}
        </span>
      </h4>
    </div> -->
    <!-- <div class="col-md-4">
      <h4>
        <label class="difference-title">Difference Amount: </label>
        <span disabled decimalPlacesRestriction="2" class="cr-dr-amount">
          {{ _trnMainService.differenceAmount }}
        </span>
      </h4>
    </div> -->
    <!-- <div class="col-md-3">
      <h4>
        <label class="account-balance-title">Account Balance: </label>
        <span decimalPlacesRestriction="2" *ngIf="_trnMainService.diffAmountDrCrType == 'Dr'"
          class="cr-dr-amount">{{ _trnMainService.diffAmountItemForAccount }}
        </span>
        <span decimalPlacesRestriction="2" class="cr-dr-amount"
          *ngIf="_trnMainService.diffAmountDrCrType == 'Cr'">({{ _trnMainService.diffAmountItemForAccount }})
        </span>
      </h4>
    </div> -->
  </div>
</div>