

<div class="PO-Deliverytble">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr *ngIf="source.data.length">
                    <th class="text-center"><input type="checkbox" (change)="onSelectAll($event)"></th>
                    <th class="text-center">S.No</th>
                    <ng-container *ngIf="header.length">
                        <ng-container *ngFor="let head of header">
                            <th class="text-center">{{head}}</th>
                        </ng-container>
                    </ng-container>
                </tr>

                <tr *ngIf="!source.data.length">
                    <th colspan="8" class="text-center">No Record Found</th>
                </tr>
                <tbody *ngIf="source.data.length">
                    <tr *ngFor="let itm of source.data| paginate
                    : {
                        id: tabindex,
                        itemsPerPage: pageSize,
                        currentPage: pageNumber,
                        totalItems: totalItems
                    };
                let i = index" [ngClass]="{'row-even':i%2==0,'row-odd':i%2!=0}">
                        <td class="custom-td">
                            <input type="checkbox" [(ngModel)]="itm.isChecked">
                        </td>
                        <td class="custom-td">{{i+1}}</td>
                        <ng-container *ngFor="let key of keys">
                            <td class="custom-td">
                                {{ itm[key] }}
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="sticky-bottom">
    <div class="row clearfix sticky-bottom" style="float: center; margin : 4px 0px;">
        <div class="col-md-12" style="width:100%;margin-top: 10px;" *ngIf="source.data.length">
            <pagination-controls [id]="tabindex" (pageChange)="onPageChange($event)" maxSize="9" directionLinks="true"
                autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next"
                screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page"></pagination-controls>
        </div>

    </div>