<div>
    <input type="text" style="width:10px;height:15px" maxlength=1 [(ngModel)]="No1" (change)="onChange($event.target.value)"> 
    <input type="text" style="width:10px;height:15px" maxlength=1 [(ngModel)]="No2" (change)="onChange($event.target.value)"> 
    <input type="text" style="width:10px;height:15px" maxlength=1 [(ngModel)]="No3" (change)="onChange($event.target.value)"> 
    <input type="text" style="width:10px;height:15px" maxlength=1 [(ngModel)]="No4" (change)="onChange($event.target.value)"> 
    <input type="text" style="width:10px;height:15px" maxlength=1 [(ngModel)]="No5" (change)="onChange($event.target.value)"> 
    <input type="text" style="width:10px;height:15px" maxlength=1 [(ngModel)]="No6" (change)="onChange($event.target.value)"> 
    <input type="text" style="width:10px;height:15px" maxlength=1 [(ngModel)]="No7" (change)="onChange($event.target.value)"> 
    <input type="text" style="width:10px;height:15px" maxlength=1 [(ngModel)]="No8" (change)="onChange($event.target.value)"> 
    <input type="text" style="width:10px;height:15px" maxlength=1 [(ngModel)]="No9" (change)="onChange($event.target.value)"> 
</div>