<style>
  .ei-cnt {
    margin-top: 3%;
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .en-sticky {
    background-color: #ffffff;
  }
</style>

<div class="clearfix sticky-top en-sticky">
  <div class="col-md-4"><h4>E-INVOICE</h4></div>
  <div class="col-md-8">
    <button class="btn btn-info pull-right" (click)="generateEInvoice()">Generate E-Invoice</button>
    
  </div>
</div>

<div class="clearfix ei-cnt">
  <div class="clearfix" style="padding: 5px; height: 15vh; margin-left: 15px">
    <div class="col-md-4">
      <div class="col-md-4">
        <label>Invoice Type</label>
      </div>
      <div class="col-md-8">
        <select class="form-control" [(ngModel)]="invoiceType">
          <option value="TI">Tax Invoice</option>
          <option value="DN">Debit Note</option>
          <option value="CN">Credit Note</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-4">
        <label>Date Selection</label>
      </div>
      <div class="col-md-8">
        <form [formGroup]="calendarForm">
          <input
            type="text"
            ngxDaterangepickerMd
            formControlName="selectedDate"
            class="form-control"
            placeholder="Choose date"
            [showDropdowns]="true"
            showCancel="true"
            [ranges]="masterService.dateFilterRange"
            [alwaysShowCalendars]="true"
          />
        </form>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-4">
        <label>Invoice Status</label>
      </div>
      <div class="col-md-8">
        <select class="form-control" [(ngModel)]="invoiceStatus" (change)="onInvoiceStatusChange()">
          <option value="all">All</option>
          <option value="pending">IRN Pending</option>
          <option value="generated">IRN Approved</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div class="clearfix main-container" style="background: white; margin-top: 6%">
  <div class="ims-scrollable-table">
    <div class="table-container" style="height: 75vh">
      <table
        id="BlueHeaderResizableTable"
        style="font-size: 12px; width: 100%; overflow-x: auto"
        class="reportTabel"
      >
        <thead>
          <tr>
            <th width="100px">VCHRNO</th>
            <th width="100px">IRN STATUS</th>
            <th width="200px">IRN NO</th>
            <th width="200px">BILL TO</th>
            <th width="200px">BILL ADDRESS</th>
            <th width="100px">TRN DATE</th>
            <th width="100px" class="text-right">NETAMOUNT</th>
            <th width="100px" >
              <input
                type="checkbox"
                class="form-control"
                (change)="onSelectAll($event)"
              />
            </th>
          </tr>
        </thead>
        <tbody style="width: fit-content">
          <tr *ngFor="let i of INVOICELIST; let i = index" style="border: 1px">
            <td width="100px">{{ i.VCHRNO }}</td>
            <td width="100px">{{ i.IRN_STATUS }}</td>
            <td width="200px">{{ i.IRN }}</td>
            <td width="200px">{{ i.BILLTO }}</td>
            <td width="200px">{{ i.BILLTOADD }}</td>
            <td width="100px">{{ i.TRNDATE }}</td>
            <td width="100px" class="text-right">{{ i.NETAMOUNT }}</td>
            <td width="100px" class="text-center">
              <input
                type="checkbox"
                name="status"
                class="form-control"
                [(ngModel)]="i.STATUS"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
