<div class="widgets">
  <div class="row">
    <button class="btn btn-info" style="margin-bottom: 10px;margin-left:18px" (click)="onAddClick()"
      *ngIf="(outletconfigChild() || outletconfigParentandIndividual())">Add
      Division</button>
  </div>
  <div class="row">
    <ba-card title="Divisions" baCardClass="with-scroll">
      <ims-grid #accountGenericGrid [imsGridSettings]="imsGridSettingsEntity" (onEditClicked)="onEditClicked($event)"
        (onViewClicked)="onViewClicked($event)" (onDeleteClicked)="onAccountDelete($event)"></ims-grid>
      <!-- <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEditClick($event)"
        (deleteConfirm)="onDeleteConfirm($event)" (view)="onViewClick($event)"></ng2-smart-table> -->
    </ba-card>
  </div>
</div>