<div class="row">
    <ba-card title="Backup & Restore" style="margin-top:-15px;">
        <button class="btn btn-info" (click)="onBackupClick()" style="display:block; margin-left: auto; margin-right: auto; margin-top: 10%; font-size: 22px; padding: 16.5px 48px;">Backup</button>
        <button class="btn btn-info" (click)="onRestoreClick()" style="display:block; margin-left: auto; margin-right: auto; margin-top: 5%; margin-bottom: 10%; font-size: 22px; padding: 16.5px 48px;">Restore</button>
    </ba-card>
</div>