<div class="widgets">
    <div class ="row">
        <button type="button" class="btn btn-info" (click)="addNewOrganizationType()" style="margin-left:18px; margin-bottom: 10px;">New Organization Type</button>
        </div>
    
      <div class="row">
        <ba-card  title="Organization Type" baCardClass="with-scroll">
          <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEditClick($event)" (view)="onViewClick($event)" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
        </ba-card>
      </div>  
 </div>