<div class="widgets">
 <div class ="row">
    
      <button type="button" class="btn btn-info" (click)="AddCompany()" style="margin-left:18px; margin-bottom: 10px;">Add CompanyInfo</button>
    
  </div>
   <div class="row">
    <ba-card  title="Companyn Info" baCardClass="with-scroll">
      <ng2-smart-table [settings]="settings" [source]="source" (edit)="OnEditClick($event)" (view)="onViewClick($event)" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
    </ba-card>
  </div>


</div>
