<style>
    .modal-content {
      padding: 1px;
      margin: 0px;
      float: right;
    }
  
    .table-scroll {
      overflow-y: scroll;
      overflow-x: hidden;
    }
  
    tbody>tr:hover {
      background-color: #f3f5f4;
      cursor: pointer;
    }
  
    tr {
      font-size: 11px;
    }
  
    .selected-row {
      background-color: #ced6d3 !important;
    }
  
    td {
      padding: 2px
    }
  
    .modal-sticky {
      position: fixed;
      bottom: 25px;
      right: 35%;
      width: 100%;
      height: 78%;
      z-index: 2;
    }
  
    .input {
      width: 80%
    }
  
    td {
      line-height: 0px !important
    }
  
    .table>tbody>tr>td {
      border-top: 0px solid gainsboro !important;
    }
  
    .TopMargin {
      Margin-Top: 10px
    }
  
    .table>tbody>tr>td:first-child {
      text-align: left !important;
    }
  
    input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
    label {
      height: 21px;
      font-weight: normal;
      width: 100px;
      margin: 2px;
      vertical-align: middle;
      font-size: 13px;
      padding-top: 6px;
    }
  </style>
  
  <div class="modal-sticky" *ngIf="isActive" style="display : block; padding: 0px;">
    <!-- Modal content -->
    <div class="modal-content" style="background-color: #ffffff;width: 31% !important;height:440px">
      <div class="modal-header" style="padding: 0px;background: #f1f1f1;;">
  
        <h4 class="modal-title" style="text-align: center;">
          Transporter Info
        </h4>
      </div>
          <div class="col-md-12"
          style="margin : 0px;padding-top: 0px;">
          <table class="table table-summary TopMargin" style="text-align: left">
            <tr>
              <td><label>TransporterId</label></td>
              <td>
                <input #Transporterid id="Transporterid" readonly type="text" [(ngModel)]="_trnMainService.TrnMainObj.TransporterEway.TRANSPORTERID" />
              </td>
            </tr>
            <tr>
              <td><label>Transporter</label></td>
              <td>
                <input #Transporter id="Transporter" readonly type="text" [(ngModel)]="_trnMainService.TrnMainObj.TransporterEway.TRANSPORTER" placeholder="Press Enter to Load  Transporter" (keyup.enter)="onEnterTransporter()"/>
              </td>
            </tr>
            <tr>
              <td><label>POD/LR Date </label></td>
              <td>
                <input type="date" [(ngModel)]="_trnMainService.TrnMainObj.TransporterEway.LRDATE" style="width:74%;line-height: 25px !important;"/>
              </td>
            </tr>
            <tr>
              <td><label>POD/LR No</label></td>
  
              <td>
                <input type="text" [(ngModel)]="_trnMainService.TrnMainObj.TransporterEway.LRNO"/>
              </td>
  
            </tr>
            <tr>
              <td><label>Amount</label>
              <td>
                <input type="text" [(ngModel)]="TransportObj.AMOUNT">
              </td>
            </tr>
            <tr>
              <td><label>Mode</label></td>
              <td>
                <!-- <input type="text" /> -->

                <select [(ngModel)]="_trnMainService.TrnMainObj.TransporterEway.MODE" style="width:74%">
                  <option value="paid">Paid</option>
                  <option value="topay">To Pay</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><label>Weight (kg)</label></td>
              <td>
                <input type="number" [(ngModel)]="TransportObj.WEIGHT" />
              </td>
            </tr>
            <tr>
                <td><label>Total Box</label></td>
                <td>
                  <input type="text" [(ngModel)]="_trnMainService.TrnMainObj.TransporterEway.TOTALBOX" />
                </td>
              </tr>
              <tr>
                <td><label>Vehicle Name</label></td>
                <td>
                  <input type="text" [(ngModel)]="_trnMainService.TrnMainObj.TransporterEway.VEHICLENAME" />
                </td>
              </tr>
              <tr>
                <td><label>Vehicle No</label></td>
                <td>
                  <input type="text"  [(ngModel)]="_trnMainService.TrnMainObj.TransporterEway.VEHICLENO" />
                </td>
              </tr>
              <tr>
                <td><label>Driver Name</label></td>
                <td>
                  <input type="text" [(ngModel)]="_trnMainService.TrnMainObj.TransporterEway.DRIVERNAME" />
                </td>
              </tr>
              <tr>
                <td><label>Driver No.</label></td>
                <td>
                  <input type="text" [(ngModel)]="_trnMainService.TrnMainObj.TransporterEway.DRIVERNO" />
                </td>
              </tr>
              
              <tr>
                <td><label>Person</label></td>
                <td>
                  <input type="text" [(ngModel)]="_trnMainService.TrnMainObj.TransporterEway.PERSON" />
                </td>
              </tr>
          </table>
        </div>
       
        <div class="Col-md-12" style="padding-top:10px">
            
                <button type="button" class="btn btn-info TopMargin" style="width:80px" (click)="ok()">OK</button>
                <button type="button" class="btn btn-warning btn-info TopMargin" style="margin-right:10px;"
                  (click)="hide()">Cancel</button>
          
              
        </div>
       
      
     
     
    </div>
    <generic-popup-grid  
    #genericGrid 
    [popupsettings]="gridPopupSettings"
    (onItemDoubleClick) = "onItemDoubleClick($event)"
    ></generic-popup-grid>