table#BlueHeaderResizableTable body{
	background-color: white;
	text-align:center;
	padding:55px;
}


table#BlueHeaderResizableTable .center{
	text-align:left;
}

table#BlueHeaderResizableTable #table{
	width:100%;
	max-width:1600px;
}

table#BlueHeaderResizableTable th{
   background-image:url('../img/th.png');
   height:30px;
   background-repeat:no-repeat;
   color:white;
   text-shadow: #012b4d 2px 2px 2px;
   text-align: center;   
}

table#BlueHeaderResizableTable td{
	text-indent:5px;
	color:#444;
	border-bottom:1px solid #bbb;
	border-left:1px solid #bbb;
}

table#BlueHeaderResizableTable td.disabled, th.disabled{
    width:100px;
    text-align: center;
    min-width:100px;
}

table#BlueHeaderResizableTable td.left{
	border-left:1px solid #2e638e;
}

table#BlueHeaderResizableTable td.right{
	border-right:1px solid #2e638e;
}

table#BlueHeaderResizableTable td.bottom{
	border-bottom:1px solid #2e638e;
}

table#BlueHeaderResizableTable .grip{
	width:20px;
	height:15px;
	margin-top:-3px;
	background-image:url('../img/grip.png');
	margin-left:-5px;
	position:relative;
	z-index:88;
	cursor:e-resize;
}

table#BlueHeaderResizableTable .grip:hover{
	background-position-x:-20px;
}
table#BlueHeaderResizableTable .JCLRLastGrip .grip{
    background-position-y:-18px;
    left:-2px;
}

table#BlueHeaderResizableTable .dragging .grip{
	background-position-x:-40px;
}

table#BlueHeaderResizableTable .sampleText{
	position:relative;
	width:100%;
}

table#BlueHeaderResizableTable .dotted{
	background-image:url('../img/dotted.png');
	background-repeat:repeat-y;
}

table#BlueHeaderResizableTable input.check{
	
}

table#BlueHeaderResizableTable #sample2Txt{
	float:right;	
}
table#BlueHeaderResizableTable label{
	color:#0361ae;
}
