<div class="content-wrapper">
        <div class="user-topbtn">
            <h4 class="hder-hding">Configuration Bar Code Setting</h4>
            <div class="right-btn" *ngIf="AddModeFlag">
              <button class="btn btn-default" (click)="onViewMode()" >View</button>
              <button *ngIf="savebuttonStatus" class="btn btn-warning" (click)="onSaveMode()" >Save</button>
            </div>
            <div class="right-btn" *ngIf="viewModeFlag">
              <button class="btn btn-success" (click)="onAddMode()" >Add New</button>
              
           </div>
        </div>
    <div class="full-width compony-infoouter" *ngIf="viewModeFlag">
      <div class="col-md-12" style="margin-top: 20px;margin-bottom: 20px;">
        <div class="col-md-6">
          <label class="col-md-3">Select Bar Code Type*</label>
           <div class="col-md-8">
             <select [(ngModel)]="selectedBarCode" (change)="changeType()" class="form-control">
                <option value=""> Select Bar Code Type</option>
                  <option *ngFor="let w of barCodeType"  value="{{w.ConfigParaTitle}}"  >
                {{w.ConfigParaTitle}}
              </option>
         </select>
           </div>
 
       </div>
       <div class="col-md-2" *ngIf="activeFlag">
         <button class="btn btn-success" disabled="disabled">Active</button>
        </div>
       <div class="col-md-2" *ngIf="inactiveFlag">
        <button class="btn btn-danger" (click)="updateStatus()" title="Click for make it active">InActive</button>
      </div>
      </div>
      <div class="custom-table no-mr">
            <table class="table">
                <tr>
                    <th style="width: 5%;">S.No.</th>
                    <th style="width: 30%;">Particular</th>
                    <th style="width: 8%;">Set Data</th>
                    <th style="width: 5%;">Order</th>
                    <th style="width: 5%;">Max Length</th>
                    <!-- <th style="width: 17%;">Row Count</th> -->
                </tr>     

                <tr *ngFor="let bar of configbarCode; index as i">

                    <td style="width: 5%;"> {{ bar.sno }} </td>
                    <td style="width: 8%;">{{bar.ParameterTitle}}</td>
                    <td style="width: 30%;"><select style="width: 80%;" id="setdata{{i}}" [(ngModel)]="bar.ParaStatus" class="form-control" [disabled]="bar.result"><option *ngFor="let v of setConfigStatus" value="{{v.name}}">{{v.name}}</option></select> </td>
                    
                    <td style="width: 5%;"> <input type="text" class="form-control" id="setorder{{i}}" [(ngModel)]="bar.ParaOrder"  (keypress)="numberOnly(bar.ParaOrder)" [disabled]="bar.result"> </td>
                    <td style="width: 10%;"> <input type="text" class="form-control" id="setLen{{i}}" (keypress)="numberOnly(bar.ParaMaxLength)" [(ngModel)]="bar.ParaMaxLength" [disabled]="bar.result"> </td>
                    <!-- <td style="width: 21%;"><select select style="width: 80%;" class="form-control" [disabled]="bar.result" [(ngModel)]="configbarCode[i].ParaRowno"><option *ngFor="let v of setConfigStatus" value="{{v.name}}">{{v.name}}</option></select> </td> -->
                    </tr>

            </table>

         </div>
    </div>

    <div class="full-width compony-infoouter" *ngIf="AddModeFlag">
      <div class="col-md-12" style="margin-top: 20px;margin-bottom: 20px;">
        <div class="col-md-6">
          <label class="col-md-3">Enter Name*</label>
           <div class="col-md-8">
            <input type="text" class="form-control" [(ngModel)] = "barCodeName">
           </div>
 
       </div>
      </div>
      <div class="custom-table no-mr">
            <table class="table">
                <tr>
                    <th style="width: 5%;">S.No.</th>
                    <th style="width: 30%;">Particular</th>
                    <th style="width: 8%;">Set Data</th>
                    <th style="width: 5%;">Order</th>
                    <th style="width: 5%;">Max Length</th>
                    <!-- <th style="width: 17%;">Row Count</th> -->
                </tr>     

                <tr *ngFor="let bar of addconfigbarCode; index as i">

                    <td style="width: 5%;"> {{ bar.sno }} </td>
                    <td style="width: 8%;">{{bar.ParameterTitle}}</td>
                    <td style="width: 30%;"><select style="width: 80%;" [(ngModel)]="bar.ParaStatus" class="form-control" [disabled]="bar.disableFlag"><option *ngFor="let v of setConfigStatus" value="{{v.name}}">{{v.name}}</option></select> </td>
                    
                    <td style="width: 5%;"> <input type="number" class="form-control" [(ngModel)]="bar.ParaOrder" min="1" (keypress)="numberOnly($event)" [disabled]="bar.disableFlag"> </td>
                    <td style="width: 10%;"> <input type="number" class="form-control" [(ngModel)]="bar.ParaMaxLength" min="0" max="{{bar.maxLength}}" (keypress)="numberMinOnly($event,i,bar.maxLength)" [disabled]="bar.disableFlag"> </td>
                    <!-- <td style="width: 21%;"><select select style="width: 80%;" class="form-control" [disabled]="bar.result" [(ngModel)]="configbarCode[i].ParaRowno"><option *ngFor="let v of setConfigStatus" value="{{v.name}}">{{v.name}}</option></select> </td> -->
                    </tr>

            </table>

         </div>
    </div>
</div>
